@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.blog_listing_block {
  padding-bottom: 45px;
  @include min-medium-screen {
    padding-bottom: 84px;
  }
  .post-cards {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(1,1fr);
    @include media-screen-768 {
      gap: 55px;
      grid-template-columns: repeat(2,1fr);
    }
  }
}
