@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.blog_listing_block {
  padding-bottom: 45px;
  @include min-medium-screen {
    padding-bottom: 96px;
  }

  .post-cards {
    display: grid;
    gap: 40px;
    margin-bottom: 50px;
    grid-template-columns: repeat(1, 1fr);
    @include media-screen-768 {
      gap: 32px;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 85px;
    }
    @include media-screen-992 {
      gap: 56px;
    }
    @include min-medium-screen {
      gap: 55px;
    }
  }

  .bottom-content-wrapper {
    padding-block: 50px;
    border-top: 1px solid $threeSixty_theme_gray-100;
    border-bottom: 1px solid $threeSixty_theme_gray-100;
    min-height: 1410px;
    @include min-medium-screen {
      padding-block: 84px;
    }
    position: relative;
  }

  .controllers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;

    .numbers {
      display: flex;
      align-items: center;
      gap: 2px;
      margin: 0 auto;

      .number {
        display: flex;
        width: 40px;
        height: 40px;
        padding: 8px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        align-self: stretch;
        transition: background-color $duration , color $duration;
        border-radius: 8px;
        cursor: pointer;

        &:hover, &.active {
          background-color: $threeSixty_theme_gray-100;
          color: $threeSixty_theme_gray-800;
        }
      }
    }

    .cta-link {
      transition: opacity $duration, color $duration;
      display: none;
      @include media-screen-600 {
        display: flex;
      }
    }

    .disabled {
      color: $threeSixty_theme_quinary-400;
      pointer-events: none;
    }
  }

  .loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 4px solid #4B5565;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 20px auto;
    display: block !important;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

}

