@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(0);
  transition: transform $duration, background $duration;
  background: chartreuse;

  .container {
    @include large-screen {
      @include paddingX(size(32));
    }
  }

  // header
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include paddingY(size(19));
    transition: padding $duration;
    @include large-screen {
      flex-direction: row-reverse;
      @include paddingY(size(58))
    }
  }

  // logo
  .main-logo {
    display: block;
    width: size(167);
    height: size(34);
    @include large-screen {
      width: size(179);
      height: size(46);
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
    }

  }


  .mobile-logo {
    display: block;
    z-index: 10;
    width: size(110);
    height: size(46);
    @include min-medium-screen {
      width: size(167);
    }
    @include large-screen {
      display: none;
    }

    img, svg {
      @include square(100%);
      object-fit: contain;
    }

  }

  .book-now-and-burger-menu {
    display: flex;
    align-items: center;

  }

  // burger menu
  .burger-menu {
    width: size(24);
    height: size(16);
    //position: relative;
    z-index: 10;
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    flex-shrink: 0;
    border: none;
    background: transparent;
    padding: 0;

    &:focus {
      outline: none !important;
    }

    span {
      display: block;
      width: 100%;
      height: size(2);
      margin-bottom: size(6);
      position: relative;
      z-index: 1;
      transition: color $duration;
      color: white;

      &:after, &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: currentColor;
        opacity: .99;
        transition: background-color $duration;
        display: table;
        border-radius: size(10);
      }

      &:nth-of-type(even) {
        &:before {
          transform-origin: right;
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform-origin: left;
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }
      }

      &:before {
        transform-origin: right;
        transform: scaleX(1) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
      }

      &:after {
        transform-origin: left;
        transform: scaleX(0) translateZ(0);
        transition: transform .6s cubic-bezier(.165, .84, .44, 1);
      }

      &:last-child {
        margin: 0 auto;
      }

      &:first-child {
        margin: 0 auto size(6);
      }
    }

    &:hover {
      span {

        &:nth-of-type(even) {
          &:before {
            transform: scaleX(1) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
          }

          &:after {
            transform: scaleX(0) translateZ(0);
            transition: transform .6s cubic-bezier(.165, .84, .44, 1);
          }
        }

        &:before {
          transform: scaleX(0) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1);
        }

        &:after {
          transform: scaleX(1) translateZ(0);
          transition: transform .6s cubic-bezier(.165, .84, .44, 1) .2s;
        }

      }
    }
  }


  // links
  .navbar {
    position: relative;
    align-items: center;
    flex-direction: row;
    margin-left: auto;

    .main-logo {
      display: none;
    }

    @include large-screen {
      margin-right: size(67);

      .main-logo {
        display: flex;
      }
    }

    @include max-medium-screen {
      position: fixed;
      top: 0;
      right: 0;
      transform: translateX(100%);
      width: 100%;
      transition: transform 300ms ease-in;
    }

    .nav-item {
      text-transform: capitalize;
      color: navy;
      transition: color $duration;

      &:hover {
        color: azure;
      }
    }

    &.header-links-active {
      transform: translateX(0);
    }
  }

  .navbar-wrapper {
    @include paddingY(size(90), size(100));
    @include paddingX(size(24));
    background: coral;
    width: 100%;
    height: 100vh;
    transition: padding $duration;
    overflow: auto;
    @include large-screen {
      background-color: transparent;
      padding: 0;
      width: auto;
      height: auto;
      overflow: visible;
    }
  }

  .primary-menu {
    @include large-screen {
      display: flex;
      align-items: center;
      @include marginX(size(-27.5));

    }
  }

  .menu-item {
    position: relative;
    cursor: pointer;
    list-style: none;

    &:not(:last-child) {
      margin-bottom: size(28);
    }

    @include large-screen {
      @include paddingX(size(32));
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }


    .header-link-active {
      color: violet;
    }

    &.active-page-link {
      a {
        color: aqua;
      }
    }
  }


  &.hide:not(.header-active) {
    transform: translateY(-100%);

  }

  &.header-transparent {
    background: transparent;
  }

  &.sticky {
    background-color: red !important;

    .header-wrapper {
      @include large-screen {
        @include paddingY(size(25));
      }
    }
  }

}
