@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.packages_hero {
  position: relative;
  z-index: 33 !important;
  @include min-medium-screen {
    @include paddingY(126px);
    min-height: 518px;
  }
  .down-arrow {
    position: absolute;
    width: 52px;
    height: 19px;
    top: calc(100% - 1px);
    left: 50%;
    transform: translateX(-50%);
  }
}
