@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.about_us_block {
  background-color: $threeSixty_theme_black;
  @include paddingY(40px);
  @include min-medium-screen {
    min-height: 518px;
    @include paddingY(157px, 159px);
  }

  .content-wrapper {
    gap: 10px;
    @include small-screen {
      text-align: center;
    }
    @include min-media-screen-600 {
      max-width: 450px;
    }
    @include min-medium-screen {
      max-width: 450px;
    }
    @include large-screen {
      max-width: 580px;
    }
  }

}
