@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.featured_package_block {
  background: linear-gradient(180deg, #FFF 0%, #F2F4F7 100%);
  padding-block: 65px;
  @include min-medium-screen {
    padding-block: 80px;
  }
  @include large-screen {
    padding-block: 128px;
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
    gap: 40px;
    @include min-medium-screen {
      flex-direction: row;
      padding-bottom: 88px;
      gap: 0;
    }
  }

  .overview-content {
    padding-bottom: 40px;
    @include large-screen {
      padding-bottom: 87px;
    }
  }

  .services-cards {
    display: flex;
    flex-direction: column;
    gap: 48px;
    width: 100%;
    @include min-medium-screen {
      width: 44.19%;
    }

    .services-card {
      display: flex;
      align-items: center;
      gap: 32px;
      @include small-screen {
        text-align: center;
        flex-direction: column;
        gap: 18px;
      }
      .icon-wrapper {
        width: 57px;
        height: 56px;
        flex-shrink: 0;

        svg, img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .service-benefit-wrapper {
        gap: 8px;

        .title {
          color: $threeSixty_theme_gray-950;
        }

        .description {
          max-width: 429px;
        }
      }

    }
  }

  .content-wrapper {
    width: 100%;
    @include min-medium-screen {
      width: 54.23%;
    }
    @include large-screen {
      width: 48.23%;
    }

    .package-box-wrapper {

      .package-includes {
        .package-includes-title {
          margin-bottom: 24px;
        }

        .package-includes-wrapper {
          .text {
            width: 47.05%;
            @include small-screen {
              width: 100%;
            }
          }
        }
      }

      .package-icon-wrapper {
        width: 62px;
        height: 54px;
        flex-shrink: 0;

        img {
          @include square(100%);
          object-fit: contain;
        }
      }
    }
  }

  .featured-btn {
    background-color: transparent;
    @include marginX(auto);
    width: 255px;
  }
}
