@use "variables" as *;
@use "../mixins/mixins" as *;

.entry-content {
  position: relative;
  color: $threeSixty_theme_black;
  $mb-deskTop: 2.4rem;
  $mb: 3.2rem;
  $large_mb: 80;

  & > *:not(figure) {
    max-width: size($content-max-width);
    @include marginX(auto);
  }

  // region global margin for all elements

  > *:not([data-section-class]:not(.two_columns_block) *) {
    margin-bottom: $mb-deskTop;
  }

  .wp-block-group__inner-container *:not(:last-child) {
    margin-bottom: $mb-deskTop;
  }

  // endregion global margin  for all elements

  //region elements style

  h5 {
    @include font-size(size(16), 150%);
    margin-bottom: size(16) !important;
  }

  // region remove margins , padding from first and last elements
  > *:first-child:not([data-section-class]:not(.two_columns_block) *:first-child) {
    margin-top: 0;
  }

  > *:last-child:not([data-section-class]:not(.two_columns_block) *:last-child) {
    margin-bottom: 0;
    //padding-bottom: 0;
  }

  // endregion remove margins , padding from first and last elements

  // region figure and img styling
  figure:not([data-section-class]:not(.two_columns_block) figure) {

    figcaption {
      @include font(22px, 400, 36px, $threeSixty_theme_black, $montserrat  );
      margin-top: size(16);
    }

    img {
      margin: 0 auto;
    }

    &.wp-block-image, &.wp-block-video {
      @include marginY(size(40, $large_mb));


      img, video {
        width: 100%;
        height: size(224);
        @include min-medium-screen {
          height: size(445);
        }
      }
    }
  }

  img:not([data-section-class]:not(.two_columns_block) img) {
    //margin: 0 auto size(32);
    height: auto;
    width: auto;
    max-width: 100%;
    border-radius: size(20);
  }

  // endregion figure and img styling

  // region alignment elements
  img.alignright:not([data-section-class]:not(.two_columns_block) img.alignright) {
    margin: 0 size(20) 0 0;
  }

  img.alignleft:not([data-section-class]:not(.two_columns_block) img.alignleft) {
    margin: 0 0 0 size(20);
  }


  img[align="right"]:not([data-section-class]:not(.two_columns_block) img[align="right"]) {
    margin: 0 0 0 size(20);
  }

  img[align="left"]:not([data-section-class]:not(.two_columns_block) img[align="left"]) {
    margin: 0 size(20) 0 0;
  }

  figure.alignleft:not([data-section-class]:not(.two_columns_block) figure.alignleft) {
    margin: 0 size(20) 0 0;
  }

  figure.alignright:not([data-section-class]:not(.two_columns_block) figure.alignright) {
    margin: 0 size(20) 0 0;
  }


  // endregion alignment elements

  // region blockquote
  blockquote:not([data-section-class]:not(.two_columns_block) blockquote) {
    @include font(18px, 260, 36px, $threeSixty_theme_white, $montserrat  );
    background: $threeSixty_theme_black;
    border-radius: size(20);
    @include paddingY(size(28, 48));
    @include paddingX(size(40, 80));
    text-align: center;
    margin-top: size(80);
    @include marginY(size(40, $large_mb));
    max-width: size($content-max-width);
    @include marginX(auto);
    border: 0;

    @include min-medium-screen {
      @include font-size(32px, 40px);
    }

    .template-title {
      font-size: size(48, 72);
      line-height: size(56, 80);
    }

    p {
      font: inherit;
      color: #001407;
      line-height: inherit;
      position: relative;
      margin-bottom: 0 !important;
      margin-top: size(40);
      @include min-medium-screen {
        margin-top: size(70);
      }
    }

    &:before {
      content: "";
      //background: url("../../../../images/svgs/quote.svg") no-repeat center/cover;
      position: absolute;
      width: size(40);
      height: size(31);
      left: 50%;
      transform: translate(-50%);

    }


    h3 {
      color: $threeSixty_theme_white;
      font-size: size(24, 48);
    }

    cite {
      font-size: 80%;
      font-weight: 400;
    }
  }

  // endregion blockquote

  // region list styling
  ol:not([data-section-class]:not(.two_columns_block) ol) {
    list-style: decimal;
    padding-left: size(25);
  }

  ul:not([data-section-class]:not(.two_columns_block) ul) {
    list-style: unset;
    padding-left: size(25);
  }

  ul:not([data-section-class]:not(.two_columns_block) ul), ol:not([data-section-class]:not(.two_columns_block) ol) {
    li {
      @include font(size(16), 260, 150%, $threeSixty_theme_white);

      &:not(:last-child) {
        margin-bottom: size(5);
      }
    }
  }

  // endregion list styling

  // region hyperlink styling
  a:not([class]):not([data-section-class]:not(.two_columns_block) a:not([class])) {
    transition: color $duration;
    display: inline-flex;
    align-items: center;
    font-weight: inherit;
    border-bottom: 1px solid currentColor;
    line-height: 100%;

    &:hover {
      color: $threeSixty_theme_black;

      //&:after {
      //  filter: invert(95%) sepia(62%) saturate(450%) hue-rotate(27deg) brightness(91%) contrast(88%);
      //  transform: translateX(size(5));
      //}
    }
  }

  // endregion hyperlink styling

  //endregion elements style

  // region wp buttons
  // style for cta button
  .wp-block-buttons {
    margin-bottom: size(42);

    .wp-block-button__link {
      width: fit-content;
      cursor: pointer;
    }
  }

  // endregion wp buttons
}
