@use "variables" as *;
@use "../mixins/mixins" as *;
@use "../functions/functions" as *;

html {
  overflow-x: hidden;
  --scrollbarBG: $threeSixty_theme_white;
  --thumbBG: $threeSixty_theme_black;
  scrollbar-width: thin;
  scrollbar-color: $threeSixty_theme_black var(--scrollbarBG);
}

body {
  overflow: hidden;
  position: relative;
  z-index: 2;
}

section {
  position: relative;
  z-index: 3 !important;
}

// region container
.container {
  @include marginX(auto);
  @include marginY(0);
  padding-inline: 24px;
  @include max-medium-screen {
    max-width: 900px;
  }
  @include min-medium-screen {
    max-width: 1263px;
  }
}

.full-container {
  width: 100%;
  padding-inline: 24px;
  @include min-medium-screen {
    padding-inline: 32px;
  }
}

//endregion

//region blockquote

blockquote.theme-blockquote, .wysiwyg-block blockquote {
  position: relative;
  @include font(24px, 400, 31px, $threeSixty_theme_white);
  padding: size(20);
  width: fit-content;

  p {
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
  }

  &:before, &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

//endregion blockquote

// region list and unordered list

ul.theme-list-element {
  // Margin Left for the default bullet width remove it if the bullet will be customized
  margin-left: size(20);
  @include font(22px, 400, 36px, $threeSixty_theme_white, $montserrat);

  li {
    font: inherit;
    color: inherit
  }
}

ol.theme-unordered-list-element {
  // Margin Left for the default bullet width remove it if the bullet will be customized
  margin-left: size(20);
  @include font(22px, 400, 36px, $threeSixty_theme_white, $montserrat);

  li {
    font: inherit;
    color: inherit
  }
}

// endregion list and unordered list

// region  wysiwyg

.wysiwyg-block {
  > *:not(:last-child) {
    margin-bottom: size(20);
  }

  a {
    font: inherit;
    color: blue;

    &:hover {
      color: red;
    }
  }
}

//endregion wysiwyg //

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include marginX(auto);
  left: 50%;
  z-index: 1;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  gap: size(38);
  align-items: center;
  justify-content: center;
  height: 10vh;

  .swiper-pagination-bullet {
    position: relative;
    @include square(size(15S));
    cursor: pointer;
    opacity: 1;
    border-radius: size(26);
    transition: background-color $duration, border-color $duration, border-color $duration;
    border: 2px solid $threeSixty_theme_white;

    &:hover {
      background-color: $threeSixty_theme_white;
      border-color: $threeSixty_theme_white;
    }

    @include max-medium-screen {
      @include square(size(12));
    }
  }

  .swiper-pagination-bullet-active {
    background: $threeSixty_theme_white;
    cursor: pointer;
    opacity: 1;
  }

  &.black-bullet {
    .swiper-pagination-bullet {
      border: 2px solid $threeSixty_theme_black;

      &:hover {
        background-color: $threeSixty_theme_black;
        border-color: $threeSixty_theme_black;
      }
    }

    .swiper-pagination-bullet-active {
      background: $threeSixty_theme_black;
    }
  }
}

.card-hover {
  img {
    transition: transform $duration;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}

// endregion swiper pagination

// region swiper navigation
.swiper-navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;

  @include min-medium-screen {
    margin-top: 24px;
  }
}

.swiper-navigation {
  z-index: 3;
  cursor: pointer;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #302A30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $duration, opacity $duration;
  opacity: 1;

  svg {
    width: size(16);
    height: size(16);
  }

  &:hover {
    background-color: $threeSixty_theme_off_white;

    svg {
      path {
        fill: $threeSixty_theme_warm_black;
      }
    }
  }

  &.swiper-button-prev {
    left: 0;
  }

  &.swiper-button-next {
    right: 0;
  }

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }
}

// endregion swiper navigation

// region tabs
.tabs {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    @include micro-text;
    padding: 16px 24px;
    border-radius: 40px;
    color: #716A6D;
    transition: background-color $duration, color $duration;
    cursor: pointer;

    &:hover, &.active, &.swiper-slide-active {
      color: $threeSixty_theme_off_white;
      background: rgba(243, 233, 231, 0.10);
    }
  }
}

//endregion

// region site logo
.site-logo {
  width: 100%;
  position: absolute;
  pointer-events: none;
  height: auto;
  z-index: -2;
  top: 37.5px;
  left: 0;
  padding-inline: $container-padding-sm;
  @include min-medium-screen {
    padding-inline: $container-padding-md;
    top: 32px;
  }

  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// endregion

.cover-image {
  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.flex-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.off-white-color {
  color: $threeSixty_theme_off_white;
}

.page-link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  color: $threeSixty_theme_off_white;
  border: 1px solid $threeSixty_theme_off_white;
  padding: 25px;
  height: 202px;
  transition: border-color $duration;
  @include min-medium-screen {
    height: 418px;
  }

  span {
    transition: opacity $duration;
  }

  .arrow {
    position: absolute;
    top: 6px;
    right: 7px;
    width: 32px;
    height: 32px;
    @include min-medium-screen {
      top: 16px;
      right: 16px;
    }
  }

  .symbol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 89.90%;
    height: 168px;
    transition: opacity $duration;
    opacity: 0;
    @include min-medium-screen {
      width: 87.5%;
      height: 336px;
    }
  }

  &:not(.white-symbol) {
    &:hover {

      span {
        opacity: 0;
      }

      .arrow {
        path {
          fill: $threeSixty_theme_warm_red;
        }
      }

      border-color: $threeSixty_theme_warm_red;

      .symbol {
        opacity: 1;
      }
    }
  }

  &.white-symbol {
    color: $threeSixty_theme_white;
    border: 1px solid $threeSixty_theme_off_white;

    &:hover {
      .symbol {
        opacity: 1;
      }

      span {
        opacity: 0;
      }
    }
  }
}

.general-left-content {
  margin-bottom: 40px;
  @include min-medium-screen {
    margin-bottom: 0;
  }

  .label {
    margin-bottom: 16px;
  }

  .description {
    color: $threeSixty_theme_off_white;
    margin-bottom: 32px;
    max-width: 319px;

    @include min-medium-screen {
      max-width: 100%;
    }
  }
}

.services_block, .advisory_board_block {

  .custom-container {
    @include max-medium-screen {
      max-width: 100%;
      padding-left: 24px;
      margin-inline: auto;
    }
    @media (min-width: 600px) and (max-width: 650px) {
      padding-left: 24px !important;
    }
    @include media-screen-from600-to1024 {
      padding-left: calc((100vw - 702px) / 2 + 57px);
    }
    @include min-medium-screen {
      padding-inline: 0;
      padding-left: calc((100vw - 1080px) / 2 + 57px);
      margin-inline: auto 0;
    }
  }

  .content-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
    }
  }

  .right-content {
    @include min-medium-screen {
      @include flexBasis(669px);
    }
    @include large-screen {
      @include flexBasis(791px);
    }
    @include x-large-screen {
      @include flexBasis(872px);
    }

    @include xx-large-screen {
      @include flexBasis(1114px);
    }
  }

  .services-cards {
    padding-right: 24px;

    .card {
      border-radius: 12px;
      background: #302A30;
      transition: background-color $duration;
      min-height: 304px;
      height: auto;
      z-index: 2;
      overflow: hidden;

      &:hover {
        background-color: $threeSixty_theme_warm_red;

        .card-description {
          opacity: 1;
        }
      }
    }
  }

  .swiper-slide {
    min-height: 304px;
    width: 304px;
  }

  .swiper-navigations {
    @include small-screen {
      padding-right: 4px;
    }
    @include min-medium-screen {
      padding-right: 32px;
    }
  }

}

.services_hero_block, .contact_us_hero_block, .page_not_found, .privacy-policy-logo {

  .site-logo {
    position: relative;
    top: 0;
    z-index: 2;
    pointer-events: auto;
    display: flex;
  }
}

.privacy-policy, .page-template {
  padding-top: 37.5px;
  @include min-medium-screen {
    padding-top: 32px;
  }
}
