@use "variables" as *;
@use "../mixins/mixins" as *;
@use "../functions/functions" as *;

html {
  overflow-x: hidden;
  --scrollbarBG: $threeSixty_theme_white;
  --thumbBG: $threeSixty_theme_black;
  scrollbar-width: thin;
  scrollbar-color: $threeSixty_theme_black var(--scrollbarBG);
  margin-top: 0 !important;
}

body {
  overflow: hidden;
  position: relative;
  z-index: 2;
  padding-top: 90px;

  &::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    pointer-events: none;
    opacity: 0;
    transition: opacity $duration;
  }


  &.error404 {
    .get_in_touch_block {
      display: none;
    }
  }

  &.active {
    @include min-medium-screen {
      &:after {
        pointer-events: auto;
        opacity: 1;
      }
    }
  }
}

section {
  position: relative;
  z-index: 3 !important;
}

.modal-opened  , .stop-scroll{
  overflow: hidden;
}
// region container
.container {
  @include marginX(auto);
  @include marginY(0);
  padding-inline: 24px;
  @include min-medium-screen {
    max-width: 1263px;
  }
}

.full-container {
  width: 100%;
  padding-inline: 24px;
  @include min-medium-screen {
    padding-inline: 32px;
  }
}

//endregion

body.home {

  .get_in_touch_block {
    padding-top: 0;
  }

  .recent_posts {
    &:after {
      display: none;
    }
  }
}

// region general in here block
.hero_package, .packages_hero, .service_hero, .about_us_block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 120px;
  background-color: $threeSixty_theme_black;
  z-index: 2;
  min-height: 450px;

  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: $threeSixty_theme_black;
    z-index: -1;
  }

  @include xx-large-screen {
    max-width: 1263px;
    margin-inline: auto;
  }

  .container {
    width: 100%;
  }

  .sub-title-and-title {
    padding-block: 9px;
  }

  .site-breadcrumb {
    text-transform: uppercase;
  }

  .sub-title {
    span, p {
      font-weight: 300;
    }
  }

  h1 {
    font-weight: 700;
  }

  .content-wrapper {
    gap: 18px;
    max-width: 500px;
    @include min-medium-screen {
      max-width: 634px;
      gap: 10px;
    }
  }

}

.about_us_block, .blog_hero_block, .service_hero, .hero_package, .packages_hero {

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../../../images/backgrounds/pattern.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;
    z-index: 2;
    pointer-events: none;
  }

  .isolation-mode {
    position: absolute;
    right: -100px;
    top: 0;
    width: 449px;
    height: 100%;
    flex-shrink: 0;
    z-index: -1;
    @include media-screen-600 {
      right: -63px;
    }
    @include media-screen-768 {
      right: -54px;
    }
    @include media-screen-992 {
      right: -16px;
    }
    @include min-medium-screen {
      right: -29px;
    }
    @include large-screen {
      right: 98px;
    }
    @include x-large-screen {
      right: 12.4%;
    }

    svg, img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.hero_package, .packages_hero {

  &:after {
    background-image: url(../../../../images/backgrounds/BG8box.svg);
  }

  .isolation-mode {
    width: 363px;
    height: 92%;
    right: 50%;
    transform: translateX(50%);
    @include media-screen-600 {
      transform: translateX(0);
      right: -9px;
      width: 369px;
      height: 94%;
    }
    @include media-screen-768 {
      width: 345px;
      height: 88%;
      right: 27px;
    }
    @include media-screen-992 {
      width: 380px;
      height: 98%;
      right: 60px;
    }
    @include min-medium-screen {
      width: 389px;
      height: 88%;
      right: 72px;
      top: -5px;
    }
    @include large-screen {
      right: 98px;
      width: 449px;
      height: 100%;
    }
    @include x-large-screen {
      right: 126px;
      top: -10px;
    }
  }
}

.hero_package {
  .isolation-mode {
    width: 363px;
    height: 92%;
    right: 50%;
    transform: translateX(50%);
    @include media-screen-600 {
      transform: translateX(0);
      right: -9px;
      width: 369px;
      height: 94%;
    }
    @include media-screen-768 {
      width: 345px;
      height: 88%;
      right: 27px;
    }
    @include media-screen-992 {
      width: 380px;
      height: 98%;
      right: 60px;
    }
    @include min-medium-screen {
      width: 381px;
      height: 444px;
      right: 75px;
      top: -5px;
    }
    @include large-screen {
      right: 98px;
      width: 511px;
      height: 502px;
    }
    @include x-large-screen {
      right: 160px;
      top: 10px;
    }
  }
}

.service-hero-in-single-page {
  .isolation-mode {
    @include min-medium-screen {
      right: 0;
      width: 519px;
    }
    @include large-screen {
      right: 32px;
      width: 549px;
    }
    @include x-large-screen {
      right: 114px;
    }
  }
}

// endregion

.overview-content {
  .sub-title {
    letter-spacing: normal;
  }

  .overview-title {
    color: $threeSixty_theme_gray-950;
  }

  .overview-description {
    max-width: 703px;
    @include marginX(auto);
    @include min-medium-screen {
      max-width: 1080px;
    }
    @include large-screen {
      max-width: 883px;
    }
  }
}

.sub-title {
  letter-spacing: normal;
}

//region blockquote

blockquote.theme-blockquote, .wysiwyg-block blockquote {
  position: relative;
  @include font(24px, 400, 31px, $threeSixty_theme_white);
  padding: size(20);
  width: fit-content;

  p {
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
  }

  &:before, &:after {
    content: '';
    width: 100%;
    height: 1px;
    background: currentColor;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }
}

//endregion blockquote

// region list and unordered list

ul.theme-list-element {
  // Margin Left for the default bullet width remove it if the bullet will be customized
  margin-left: size(20);
  @include font(22px, 400, 36px, $threeSixty_theme_white, $montserrat);

  li {
    font: inherit;
    color: inherit
  }
}

ol.theme-unordered-list-element {
  // Margin Left for the default bullet width remove it if the bullet will be customized
  margin-left: size(20);
  @include font(22px, 400, 36px, $threeSixty_theme_white, $montserrat);

  li {
    font: inherit;
    color: inherit
  }
}

// endregion list and unordered list

// region  wysiwyg

.wysiwyg-block {
  > *:not(:last-child) {
    margin-bottom: size(20);
  }

  a {
    font: inherit;
    color: blue;

    &:hover {
      color: red;
    }
  }
}

//endregion wysiwyg //

// region swiper pagination
.swiper-paginations, .swiper-pagination {
  position: relative;
  @include marginX(auto);
  left: 50%;
  z-index: 1;
  display: flex;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  bottom: 0;
  transform: translate(-50%, 0);
  gap: size(38);
  align-items: center;
  justify-content: center;
  height: 10vh;

  .swiper-pagination-bullet {
    position: relative;
    @include square(size(15S));
    cursor: pointer;
    opacity: 1;
    border-radius: size(26);
    transition: background-color $duration, border-color $duration, border-color $duration;
    border: 2px solid $threeSixty_theme_white;

    &:hover {
      background-color: $threeSixty_theme_white;
      border-color: $threeSixty_theme_white;
    }

    @include max-medium-screen {
      @include square(size(12));
    }
  }

  .swiper-pagination-bullet-active {
    background: $threeSixty_theme_white;
    cursor: pointer;
    opacity: 1;
  }

  &.black-bullet {
    .swiper-pagination-bullet {
      border: 2px solid $threeSixty_theme_black;

      &:hover {
        background-color: $threeSixty_theme_black;
        border-color: $threeSixty_theme_black;
      }
    }

    .swiper-pagination-bullet-active {
      background: $threeSixty_theme_black;
    }
  }
}

.card-hover {
  img {
    transition: transform $duration;
  }

  &:hover {
    img {
      transform: scale(1.03);
    }
  }
}

// endregion swiper pagination

// region swiper navigation
.swiper-navigations {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include marginX(auto);
  width: 144px;
  gap: 32px;
}

.swiper-navigation {
  z-index: 3;
  cursor: pointer;
  @include font-size(45px);
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color $duration, opacity $duration;
  opacity: 1;

  svg {
    width: size(56);
    height: size(56);

    .border {
      stroke: $threeSixty_theme_quinary-400;
    }

    .arrow {
      stroke: $threeSixty_theme_tertiary-600;
    }
  }

  &:hover {
    svg {
      path {
        stroke: $threeSixty_theme_gold;
      }
    }
  }

  &.swiper-button-prev {
    left: 0;
  }

  &.swiper-button-next {
    right: 0;
  }

  &.swiper-button-disabled {
    svg {
      .border {
        stroke: $threeSixty_theme_gray-300;
      }

      .arrow {
        stroke: $threeSixty_theme_quinary-400;
      }
    }

    pointer-events: none
  }
}

// endregion swiper navigation

// region tabs
.tabs {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    @include micro-text;
    padding: 16px 24px;
    border-radius: 40px;
    color: #716A6D;
    transition: background-color $duration, color $duration;
    cursor: pointer;

    &:hover, &.active, &.swiper-slide-active {
      color: $threeSixty_theme_off_white;
      background: rgba(243, 233, 231, 0.10);
    }
  }
}

//endregion

// region site logo
.site-logo {
  width: 100%;
  position: relative;
  pointer-events: none;
  height: auto;
  z-index: -2;

  padding-inline: $container-padding-sm;
  @include min-medium-screen {
    padding-inline: $container-padding-md;
  }

  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// endregion

.cover-image {
  img, svg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.cta-link {
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: color $duration;

  svg {
    width: 20px;
    height: 20px;

    path {
      stroke: currentColor;
    }


  }

  &:hover {
    color: $threeSixty_theme_brand-600;
  }


}

.post-card {

  .post-image-card {
    position: relative;

    .post-image {
      padding-top: 60%;
    }
  }

  .post-content {
    gap: 8px;
    margin-top: 30px;
    @include min-medium-screen {
      margin-top: 50px;
    }

    .category {
      color: $threeSixty_theme_brand-700;
      pointer-events: none;
    }

    .post-title {
      color: $threeSixty_theme_gray-900;
      transition: color $duration;
      @include max-lines(2);

      &:hover {
        color: $post_title_hover;
      }
    }

    .post-excerpt {
      @include max-lines(3);
    }
  }

  .about-author {
    margin-top: 16px;
    gap: 8px;
    display: flex;
    align-items: center;

    .image-author {
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  &.horizontal-card {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: column;
    @include min-medium-screen {
      gap: 56px;
    }

    &:not(:last-child) {
      margin-bottom: 45px;
    }

    @include media-screen-768 {
      flex-direction: row;
      &:not(:last-child) {
        margin-bottom: 84px;
      }
    }

    .post-image-card {
      width: 100%;
      position: relative;
      @include media-screen-768 {
        width: 49.50%;
      }

      .post-image {
        padding-top: 60%;
      }
    }

    .post-content {
      margin-top: 0;
      width: 100%;
      @include media-screen-768 {
        width: 49.34%;
      }
    }
  }
}

.site-breadcrumb {
  color: $threeSixty_theme_white;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: color $duration;

  a {
    transition: color $duration;

    &:hover {
      color: $threeSixty_theme_brand-600;
    }
  }
}

.categories {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  .cat-name {
    padding: 2px 10px;
    border-radius: 4px;
    border: 1px solid;
  }
}

.package-box-wrapper {
  background: $threeSixty_theme_white;
  border: 1px solid #E4E7EC;
  border-radius: 8px;
  box-shadow: 0 32px 64px -12px rgba(16, 24, 40, 0.14);

  .package-title-and-price {
    padding: 38px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #E4E7EC;
    width: 100%;

    @include small-screen {
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }

    .icon-and-package-title {
      display: flex;
      flex-direction: column;
      gap: 16px;
      @include min-medium-screen {
        flex-direction: row;
      }

      .title-and-excerpt {
        gap: 4px;
      }

      .package-title p {
        color: $threeSixty_theme_gray-950;
      }
    }

    .price-container {
      display: flex;
      gap: 2px;
    }

    sub {
      margin-top: -2px;
    }

    .price, sub {
      color: #475467;
    }
  }

  .package-includes {
    padding-inline: 38px;
    padding-block: 30px 34px;
    border-bottom: 1px solid #E4E7EC;

    .package-includes-title {
      color: #101828;
      margin-bottom: 32px;
    }

    .package-includes-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 16px;
      @include small-screen {
        flex-direction: column;
      }
    }

    .text {
      display: flex;
      align-items: center;
      gap: 12px;
      width: 45%;
      @include small-screen {
        width: 100%;
      }

      .icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;

        img, svg {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .the-text {
        color: $threeSixty_theme_tertiary-600;
      }
    }
  }

  .cta-button-wrapper {
    padding: 38px;

    .theme-cta-button {
      width: 100%;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      border-radius: 4px;
      background: #344054;

      &:hover {
        background-color: $threeSixty_theme_brand-600;
      }
    }
  }
}

.offering-cards {
  @include small-screen {
    @include paddingX(16px);
  }

  .offering-card {
    border-radius: 8px;
    border: 1px solid #E4E7EC;
    background: $threeSixty_theme_white;
    box-shadow: 0 4px 8px -2px (rgba(16, 24, 40, 0.10));
    padding-block: 60px 50px;
    transition: box-shadow $duration;

    @include min-medium-screen {
      &:hover {
        //box-shadow: 0 32px 64px -12px rgba(16, 24.000000000000014, 40, 0.14);
        box-shadow: 0 32px 25px -6px rgba(16, 24.000000000000014, 40, 0.14);
      }
    }

    .image-title {
      gap: 32px;
      align-items: center;
      border-bottom: 1px solid #E4E7EC;
      padding-bottom: 40px;
      @include paddingX(32px);
      @include min-medium-screen {
        padding-bottom: 42px;
        @include paddingX(65px);
      }

      .offering-image {
        width: 150px;
        height: 125px;

        img {
          object-fit: contain;
        }
      }

      .offering-title {
        p {
          text-transform: uppercase;
          color: $threeSixty_theme_gray-950;
          font-weight: 300;
        }
      }
    }

    .description-btn {
      gap: 27px;
      padding-top: 20px;
      @include paddingX(25px);
      @include min-medium-screen {
        padding-top: 42px;
        @include paddingX(56px);
      }

      .description {
        @include marginX(auto);
        @include min-medium-screen {
          max-width: 262px;
        }
      }

      .offering-btn {
        width: fit-content;
        @include marginX(auto);
        @include min-medium-screen {
          width: 100%;
        }

        .icon {
          width: 29px;
          height: 25px;
          flex-shrink: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }


  }
}

body.rtl {

  .cta-link {
    svg {
      transform: rotate(180deg);
      transform-origin: center;
    }
  }

}

.block-has-border {
  position: relative;

  &:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $threeSixty_theme_gray-300;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);
    max-width: 1216px;
    @include large-screen {
      width: calc(100% - 224px);
    }
  }
}

.flag-wrapper {
  margin-bottom: 14px;
  width: fit-content;

  .language-wrapper {
    display: flex;
    align-items: center;
    gap: 11px;
    cursor: pointer;
    transition: color $duration;

    &:hover {
      color: $threeSixty_theme_gold;
    }
  }

  .arabic-wrapper {
    display: none;
  }

  svg {
    width: 32px;
    height: 21.333px;
  }

  body.rtl & {
    .arabic-wrapper {
      display: flex;
    }

    .english-wrapper {
      display: none;
    }
  }
}
