// content width
$content-max-width: 558;

// media screen sizes
$small-screen-max-width: 599.98px;
$medium-screen-max-width: 1023.98px;
$medium-screen-min-600: 600px;
$medium-screen-min-768: 768px;
$medium-screen-min-992: 992px;
$medium-screen-min-width: 1024px;
$large-screen-min-width: 1280px;
$x-large-screen-min-width: 1440px;
$xx-large-screen-min-width: 1920px;

// color
$threeSixty_theme_black: var(--wp--preset--color--black);
$threeSixty_theme_white: var(--wp--preset--color--white);
$threeSixty_theme_gray-100: var(--wp--preset--color--gray-100);
$threeSixty_theme_warm_red: var(--wp--preset--color--warm-red);
$threeSixty_theme_off_white: var(--wp--preset--color--off-white);
$threeSixty_theme_warm_black: var(--wp--preset--color--warm-black);
$threeSixty_theme_gray: var(--wp--preset--color--gray);
$threeSixty_theme_gold: var(--wp--preset--color--gold);
$threeSixty_theme_gray-500: var(--wp--preset--color--gray-500);
$threeSixty_theme_gray-700: var(--wp--preset--color--gray-700);
$threeSixty_theme_gray-900: var(--wp--preset--color--gray-900);
$threeSixty_theme_gray-950: var(--wp--preset--color--gray-950);
$threeSixty_theme_gray-950: var(--wp--preset--color--gray-950);
$threeSixty_theme_gray-600: var(--wp--preset--color--gray-600);
$threeSixty_theme_brand-700: var(--wp--preset--color--brand-700);
$threeSixty_theme_brand-600: var(--wp--preset--color--brand-600);
$threeSixty_theme_gray-300: var(--wp--preset--color--gray-300);
$threeSixty_theme_tertiary-600: var(--wp--preset--color--tertiary-600);
$post_title_hover: $threeSixty_theme_brand-600;
// fonts
$montserrat: 'Montserrat';
$hahmlet: 'Hahmlet';
$TitlingGothicFB: 'TitlingGothicFB';
$inter: 'Inter';
$gab-20: 20px;
$gab-40: 40px;

//default duration
$duration: 500ms;

//override bootstrap variables
$container-padding-sm: 24px;
$container-padding-md: 75px;
$container-padding-lg: 113px;


// design screen sizes
$design-width: 1440;
$tablet-width: 992;
$mobile-width: 600;
