@use "variables" as *;
@use "../mixins/mixins" as *;
@use "../functions/functions" as *;


body {
  font-family: $inter;
}

// region font family TitlingGothicFB
h1, .d-2xl-h1, .d-2xl-h1 p {
  color: $threeSixty_theme_gray-900;
  font-family: $inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  font-style: normal;
  letter-spacing: 1.6px;
  @include min-medium-screen {
    font-size: 72px;
    line-height: 90px; /* 125% */
    letter-spacing: -1.44px;
  }
}

h2, .d-xl-h2, .d-xl-h2 p {
  color: $threeSixty_theme_gray-900;
  font-family: $inter;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  font-style: normal;
  letter-spacing: 1.6px;
  @include min-medium-screen {
    font-size: 60px;
    line-height: 72px; /* 120% */
    letter-spacing: -1.2px;
  }
}

h3, .d-lg-h3, .d-lg-h3 p {
  font-family: $inter;
  color: $threeSixty_theme_gray-900;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  font-style: normal;
  letter-spacing: 1.6px;
  @include media-screen-992 {
    font-size: 32px;
  }
  @include large-screen {
    line-height: 125%;
    font-size: 48px;
    letter-spacing: -0.96px;
  }
}

h4 .d-md-h4, .d-md-h4 p {
  font-family: $inter;
  color: $threeSixty_theme_gray-900;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  font-style: normal;
  letter-spacing: 1.6px;
  @include min-medium-screen {
    font-size: 36px;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
  }
}

h5 , .d-sm-h5, .d-sm-h5 p {
  font-family: $inter;
  color: $threeSixty_theme_gray-900;
  font-size: 24px;
  font-weight: 400;
  line-height: 110%;
  font-style: normal;
  @include large-screen {
    font-size: 30px;
    line-height: 126.667%;
  }
}

h6 .d-xs-6, .d-xs-6 p {
  font-family: $inter;
  color: $threeSixty_theme_gray-900;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  font-style: normal;
  letter-spacing: 1.6px;
  @include min-medium-screen {
    font-size: 24px;
    line-height: 32px; /* 133.333% */
  }
}

.text-lg p, .text-lg, p {
  color: $threeSixty_theme_gray-600;
  font-family: $inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 155%;
  font-style: normal;
  @include large-screen {
    font-size: 18px;
  }
}

.text-xl p, .text-xl {
  font-family: $inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  @include large-screen {
    font-size: 20px;
    font-style: normal;
    line-height: 30px; /* 150% */
  }
}

.text-md p, .text-md {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.text-sm p, .text-sm {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.text-xs p, .text-xs {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
}


// region cta button

.theme-cta-button {
  @include theme-cta-style;
}

.label {
  @include micro-text;
  display: block;
  width: fit-content;
  text-transform: uppercase;
  @include flex(center, center);
  transition: background-color $duration, color $duration;
  background-color: transparent;
  border-radius: 50px;
  color: $threeSixty_theme_warm_red;
  border: 1px solid currentColor;
  padding: 7.2px 11.7px;
  @include x-large-screen {
    padding: 7.5px 12px;
  }

  &.light-label {
    color: $threeSixty_theme_white;
  }
}

// endregion cta button

// region cta link
.theme-cta-link {
  @include font(18px, 700, 24px, $threeSixty_theme_black, $montserrat);
  transition: color $duration;

  &:hover {
    color: $threeSixty_theme_white;
  }
}

// endregion cta link

.desktop-cta {
  display: none;
  @include min-medium-screen {
    display: flex;
  }
}

.mobile-cta {
  display: flex;
  margin-top: 40px;
  @include min-medium-screen {
    display: none;
  }
}

.off-white-color {
  color: $threeSixty_theme_off_white;
}

.white-color , .white-color p {
  color: $threeSixty_theme_white;
}

.gray-color {
  color: $threeSixty_theme_off_white;
  opacity: 0.7;
}


.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 900;
}

.center-text {
  text-align: center;
}

.capital-text {
  text-transform: capitalize;
}

.uppercase-text {
  text-transform: uppercase;
}

.under-line {
  @include under-line;
}

.gold {
  color: $threeSixty_theme_gold;
}

.black {
  color: $threeSixty_theme_black;
}

.gray-500 {
  color: $threeSixty_theme_gray_500;
}

.gray-600 {
  color: $threeSixty_theme_gray-600;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.gab-20 {
  gap: $gab-20;
}

.gab-40 {
  gap: $gab-40;
}

