@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author HOSSAM
.package_block {
  padding-block: 40px 65px;
  @include min-medium-screen{
    padding-bottom: 80px;
  }
  @include large-screen {
    padding-block: 80px 128px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;

    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
    }

    .left-content-wrapper {
      width: 100%;
      gap: 48px;
      margin-top: 22px;
      @include max-medium-screen {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      @include min-medium-screen {
        width: 43.19%;
        margin-top: 0;
      }
      @include large-screen {
        width: 44.19%;
      }


      .service-benefit {
        display: flex;
        align-items: center;
        gap: 15px;
        @include media-screen-992{
          width: 47%;
        }
        @include min-medium-screen {
          width: 100%;
        }
        @include large-screen {
          gap: 32px;
        }

        .icon-wrapper {
          width: 64px;
          height: 64px;
          flex-shrink: 0;

          svg, img {
            width: auto;
            height: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
          }
        }

        .service-benefit-wrapper {
          gap: 8px;

          .title {
            color: $threeSixty_theme_gray-950;
          }

          .description {
            max-width: 411px;
          }
        }
      }
    }

    .right-content-wrapper {
      width: 100%;
      @include min-medium-screen {
        width: 57.45%;
        margin-top: -220px;
      }
      @include large-screen {
        width: 50.45%;
        margin-top: -220px;
      }


      .package-title-and-price, .package-includes, .cta-button-wrapper {
        padding-inline: 28px;
        @include large-screen {
          padding-inline: 38px;
        }
      }

      .note-wrapper {
        padding: 26px;
        border-radius: 8px;
        border: 1px solid $threeSixty_theme_gray-300;
        background: $threeSixty_theme_white;
        display: flex;
        margin-top: 55px;
        gap: 7px;
        @include small-screen {
          flex-direction: column;
        }

        .note-icon-wrapper {
          width: 38px;
          height: 38px;
          margin-top: -10px;
          flex-shrink: 0;

          img, svg {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .note-text {
          max-width: 512px;
          color: #475467;
        }
      }
    }

  }
}
