@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author HOSSAM
.package_block {
  padding-block: 80px 128px;

  .content-wrapper {
    display: flex;
    flex-direction: column;
    @include min-medium-screen {
      flex-direction: row;
      justify-content: space-between;
    }


    .left-content-wrapper {
      width: 100%;
      gap: 48px;
      @include min-medium-screen {
        width: 537px;
      }

      .service-benefit {
        display: flex;
        align-items: center;
        gap: 32px;

        .icon-wrapper {
          width: 64px;
          height: 64px;
          flex-shrink: 0;

          svg, img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .service-benefit-wrapper {
          gap: 8px;

          .title {
            color: $threeSixty_theme_gray-950;
          }

          .description {
            max-width: 411px;
          }
        }
      }
    }

    .right-content-wrapper {
      width: 100%;
      @include min-medium-screen {
        width: 613px;
      }


      .note-wrapper {
        padding: 26px;
        border-radius: 8px;
        border: 1px solid $threeSixty_theme_gray-300;
        background: $threeSixty_theme_white;
        display: flex;

      }
    }
  }
}
