@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.home_hero_block {
  background-color: $threeSixty_theme_black;
  min-height: 690px;
  @include min-medium-screen {
    min-height: 710px;
  }
  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    @include min-medium-screen {
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }
    .left-content {
      gap: 21px;
      width: 100%;
      text-align: center;
      @include min-medium-screen {
        width: 50.08%;
        text-align: unset;
      }
      .title {
        p {
          line-height: 111.111%;
        }
      }
      .description {
        max-width: 440px;
        @include marginX(auto);
        @include min-medium-screen {
          max-width: 450px;
          @include marginX(0);
        }
        @include large-screen {
          max-width: 550px;
        }
        p {
          color: $threeSixty_theme_gray-300;
        }
      }
      .content-wrapper-btn {
        margin-top: 10px;
        color: $threeSixty_theme_white;
        border: 1px solid $threeSixty_theme_brand-500;
        background-color: transparent;
        transition: border-color $duration , background-color $duration;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height:  155.556%;
        @include marginX(auto);
        @include min-medium-screen {
          @include marginX(0);
          font-size: 18px;
        }
        &:hover {
          background-color: #344054;
          border-color: transparent;
        }
      }
    }
    .right-image {
      width: 100%;
      flex-shrink: 0;
      @include min-medium-screen {
        width: 51.89%;
      }
      .image {
        padding-top: 124.76%;
        @include min-medium-screen {
          padding-top: 124.76%;
        }
      }
    }
  }
}
