@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.hero_package {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-block: 120px;
  background-color: $threeSixty_theme_black;
  @include paddingY(55px, 55px);
  position: relative;
  overflow: hidden;
  z-index: 2;
  min-height: 400px;
  @include min-medium-screen {
    @include paddingY(108px, 109px);
    min-height: 674px;
  }


  .container {
    width: 100%;
  }


  .site-breadcrumb {
    text-transform: uppercase;
  }

  .sub-title {
    span, p {
      font-weight: 300;
    }
  }

  .content-wrapper {
    gap: 18px;
    max-width: 500px;
    @include min-medium-screen {
      max-width: 634px;
      gap: 10px;
    }
  }
}
