@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.hero_package {
  padding-block: 120px;
  background-color: $threeSixty_theme_black;
  @include paddingY(55px, 55px);
  position: relative;
  overflow: hidden;
  z-index: 2;
  height: 337px;
  @include min-medium-screen {
    @include paddingY(108px, 109px);
    height: 674px;
  }
  .content-wrapper {
    gap: 10px;
    max-width: 500px;
    @include large-screen {
      max-width: 634px;
    }
  }
}
