@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.package_description {
  padding-block: 65px;
  @include min-medium-screen{
    padding-block: 80px;
  }
  @include large-screen {
    padding-block: 128px;
  }

  .title {
    p {
      font-weight: 600;
      color: $threeSixty_theme_gray-950;
    }
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    @include min-medium-screen {
      flex-direction: row;
      gap: 0;
    }

    &.content-reverse {

      @include min-medium-screen {
        flex-direction: row-reverse;
      }
    }

    .left-content {
      width: 100%;
      @include min-medium-screen {
        width: 50.49%;
      }

      .sub-title {
        color: $threeSixty_theme_brand-600;
      }

      .title {
        color: $threeSixty_theme_gray-950;
      }

      .description {
        @include large-screen {
          max-width: 585px;
        }

        p {
          color: $threeSixty_theme_gray-500;
        }
      }
    }

    .right-image {
      width: 100%;
      @include min-medium-screen {
        width: 46.86%;
      }

      .image {
        padding-top: 66.92%;
        @include media-screen-768 {
          padding-top: 39%;
        }
        @include min-medium-screen {
          padding-top: 70.3%;
        }

        img {
          object-fit: contain;
        }

      }
    }
  }
}
