@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;
@import "swiper/css";

// @author DELL
.testimonials_block {
  position: relative;
  background: linear-gradient(270deg, #E4E7EC 0%, #FCFDFE 100%);
  padding-block: 65px;
  @include min-medium-screen {
    padding-block: 80px;
  }
  @include large-screen {
    padding-block: 100px 90px;
  }

  .logo {
    position: absolute;
    width: 665px;
    height: 162px;
    top: 42px;
    inset-inline-end: 12%;
    display: none;
    @include large-screen {
      display: block;
    }
  }

  // mobile
  .small-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    padding-inline: 24px;
    align-items: center;
    @include large-screen {
      display: none;
    }

    .description p {
      text-align: center;
    }
  }

  .title {
    letter-spacing: normal;
    color: $threeSixty_theme_brand-600;
    margin-bottom: 16px;
  }

  .description {
    p {
      color: $threeSixty_theme_gray-950;
      font-weight: 700;
    }
  }

  .cards-wrapper {
    display: flex;
    align-items: center;
    @include large-screen {
      padding-right: 0;
      padding-inline-start: 36px;
    }
    @include x-large-screen {
      padding-right: 0;
      padding-inline-start: 120px !important;
      max-width: 1440px;
      margin: 0 auto;
    }


    // desktop
    .large-content {
      max-width: 384px;
      display: none;

      .testimonial-navigations {
        margin: 30px 0 0 0;

        &.large-screen {
          display: none;
          @include large-screen {
            display: flex;
          }
        }
      }

      @include large-screen {
        display: flex;
        flex-direction: column;
        max-width: 314px;
        flex-shrink: 0;
      }
    }

    .testimonials-swiper {
      padding-inline: 24px 38px;
      padding-block: 28px;
      @include large-screen {
        padding-inline-start: 29px;
        padding-inline: 0;

      }
      @include xx-large-screen {
        padding-inline-start: 76px;
      }

      .testimonial-card {
        padding: 32px 20px;
        background-color: $threeSixty_theme_white;
        box-shadow: 0px 12px 16px -4px rgba(16, 24, 40, 0.08), 0px 4px 6px -2px rgba(16, 24, 40, 0.03);
        cursor: grab;
        border-radius: 8px;
        @include min-medium-screen {
          padding: 32px;
        }
        @include large-screen {
          padding: 60px 64px;
        }

        .svg-quote {
          width: 64px;
          height: 42px;
          margin-bottom: 24px;
        }

        .comment {
          max-width: 285px;
          @include max-lines(5);
        }

        .author-info {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-top: 34px;

          .author-image {
            flex-shrink: 0;
            @include square(64px);

            img {
              border-radius: 50%;
            }
          }

          .about-author {
            .name {
              margin-bottom: 2px;
              color: $threeSixty_theme_brand-700;
            }

            .jop-title {
              color: $threeSixty_theme_tertiary-600;
            }
          }

        }

      }
    }
  }

  .swiper-slide {
    height: auto;
  }

  .swiper-wrapper {
    @include x-large-screen {
      padding-inline-start: 60px;
    }
  }

  .testimonial-navigations {
    &.small-screen {
      display: flex;
      margin-top: 20px;
      @include large-screen {
        display: none;
      }
    }
  }
}
