@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;
@import "swiper/css";

// @author
.recent_posts {
  @include paddingY(65px);
  @include min-medium-screen {
    @include paddingY(128px);
  }
  .cards-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 40px;
    @include min-medium-screen {
      flex-direction: row;
      margin-bottom: 80px;
    }
    .recent-content {
      max-width: 590px;
      margin-bottom: 15px;
      @include min-medium-screen {
        margin-bottom: 0;
      }
      @include large-screen {
        max-width: 768px;
      }
      .recent-content-title {
        color: $threeSixty_theme_gray-950;
        margin-bottom: 15px;
      }
    }
  }
  .recent-posts-swiper {
    .recent-card {
      position: relative;
      height: 100%;
      .featured-image {
        padding-top: 62.5%;
      }
      .post-title {
        display: flex;
        align-items: flex-start;
        color: $threeSixty_theme_gray-950;
        @include paddingY(20px , 8px);
        transition: color $duration;
        gap: 16px;
        &:hover {
          color: $threeSixty_theme_brand-600;
        }
        .post-title-svg {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
