@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;
@import "swiper/css";

.recent_posts {
  @include paddingY(65px);
  @include min-medium-screen {
    @include paddingY(128px);
  }


  .recent-posts-swiper {
    margin-bottom: 40px;
    @include min-medium-screen {
      margin-bottom: 80px;
    }

    .recent-card {
      display: flex;
      flex-direction: column;
      position: relative;
      height: auto;

      .featured-image {
        padding-top: 62.5%;
      }

      .post-title {
        display: flex;
        align-items: flex-start;
        color: $threeSixty_theme_gray-950;
        margin-block: 21px 20px;
        transition: color $duration;
        gap: 16px;
        font-size: 24px;
        line-height: 133.333%;
        @include max-lines(2);

        &:hover {
          color: $threeSixty_theme_brand-600;
        }

        .post-title-svg {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
        }
      }

      .categories {
        margin-top: auto;

        .cat-name {
          border-radius: 0;
        }
      }
    }
  }
}
