@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author HOSSAM
.get_in_touch_block {
  position: relative;
  @include paddingY(65px);
  @include media-screen-992 {
    @include paddingY(70px);
  }
  @include min-medium-screen {
    @include paddingY(128px);
  }

  &:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $threeSixty_theme_gray-300;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);

    @include large-screen {
      width: calc(100% - 224px);
    }
  }

  .question-svg {

    width: 285.685px;
    height: 220px;
    margin-bottom: 32px;
    @include media-screen-768 {
      width: 454.685px;
      height: 350px;
    }
  }

  .join-us-card {
    border: 1px solid $threeSixty_theme_gray-300;
    padding: 62px 42px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @include media-screen-600 {
      max-width: 650px;
      padding: 62px 20px;
    }
    @include min-medium-screen {
      max-width: 768px;
      padding: 62px 42px;
    }

    .membership-title {
      margin-bottom: 8px;
      color: #101828;
    }

    .membership-info {
      margin-bottom: 32px;
      color: $threeSixty_theme_tertiary-600;
    }
  }
}
