@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.our_expertise_block {
  padding-block: 65px;
  @include min-medium-screen {
    padding-block: 128px;
  }
  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    @include min-medium-screen {
      flex-direction: row;
      gap: 0;
    }
    .left-content {
      width: 100%;
      @include min-medium-screen {
        width: 63.37%;
      }
      .sub-title {
        color: $threeSixty_theme_brand-600;
      }
      .title {
        color: $threeSixty_theme_gray-950;
      }
      .description {
        p {
          line-height: 150%;
          color: $threeSixty_theme_gray-500;
          @include min-medium-screen {
            font-size: 20px;
          }
        }
      }
    }
    .right-image {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      border: 1px solid $threeSixty_theme_gray-300;
      background: $threeSixty_theme_white;
      box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
      padding: 42px 37px;
      @include min-medium-screen {
        width: 32.18%;
        padding: 85px 75px;
      }
      .image {
        padding-top: 46.92%;
        width: 100%;
        @include media-screen-768 {
          padding-top:30%;
        }
        @include min-medium-screen {
          padding-top: 83.33%;
        }
        img {
          object-fit: contain;
        }
      }
    }
  }
}
