@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.about_three_sixty_block {
  padding-block: 65px;
  @include min-medium-screen {
    padding-block: 128px;
  }
  .cards-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 50px;
    @include media-screen-992{
      align-items: flex-start;
      flex-direction: row;
      gap: 0;
    }
    @include large-screen {
      align-items: center;
    }

    .left-content {
      width: 100%;
      @include media-screen-992 {
        width: 47%;
      }

      .sub-title {
        letter-spacing: normal;
        color: $threeSixty_theme_brand-600;
      }

      .title {
        color: $threeSixty_theme_gray-950;
      }

      .description {
        p {
          line-height: 166.667%;
          color: $threeSixty_theme_gray-500;
        }
      }
    }

    .right-image {
      width: 100%;
      display: flex;
      padding: 38px 112px;
      justify-content: center;
      align-items: center;
      background-color: $threeSixty_theme_gray-50;
      @include media-screen-992{
        padding: 125px 112px;
        width: 45.96%;
      }
      @include large-screen {
        padding: 236px 112px;
      }

      .image {
        height: 127px;
        width: 123px;
        @include min-media-screen-600 {
          width: 239px;
          height: 229px;
        }

        img {
          object-fit: contain;
        }
      }
    }
  }

  .content-wrapper {
    background: #000;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @include min-medium-screen {
      justify-content: space-between;
      flex-direction: row;
      gap: 0;
    }
    .left-content {
      width: 100%;
      @include min-medium-screen {
        width: 53.90%;
      }
      .left-content-title {
        padding-bottom: 24px;
        border-bottom:1px solid $threeSixty_theme_tertiary-600;
      }
      .package-wrapper {
        margin-top: 24px;
        .package-box {
          display: flex;
          align-items: center;
          gap: 24px;
          padding-block:12px 11px;
          .package-icon {
            width: 32px;
            height: 37px;
            flex-shrink: 0;
          }
          .title-and-excerpt {
            .package-title {
              font-weight: 300;
            }
            .package-description {
              color: $threeSixty_theme_quinary-400;
            }
          }
        }

      }
    }
    .right-content {
      width: 100%;
      padding: 30px;
      background: #111418;
      gap: 25px;
      @include min-medium-screen {
        gap: 48px;
        width: 40.74%;
        padding: 64px 42px 48px 67px;
      }
      .right-content-title {
        padding-bottom: 24px;
        border-bottom:1px solid $threeSixty_theme_tertiary-600;
      }
      .info-box-wrapper {
        margin-top: 16px;
        .info-box {
          padding-block: 12px;
          display: flex;
          align-items: center;
          gap: 16px;
          .info-box-image {
            @include square(24px);
          }
          .package-title {
            line-height: 30px;
          }
        }
      }
    }
  }

}
