@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.mab_block {
  padding-block: 40px;
  @include min-medium-screen {
    padding-block: 80px;
  }

  .content-wrapper {
    gap: 16px;
    @include marginX(auto);
    text-align: center;
    max-width: 620px;
    margin-bottom: 40px;
    @include large-screen {
      max-width: 768px;
      margin-bottom: 80px;
    }

    .title {
      margin-bottom: 4px;
    }

    .label-info {
      @include marginX(auto);
      padding: 4px 12px;
      color: $threeSixty_theme_brand-600;
      border: 1.5px solid $threeSixty_theme_brand-600;
    }
  }

  .hotspot-circle {
    z-index: 1;
    transform: translate(56%);
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    left: 25%;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 1px 1px $threeSixty_theme_gold;
    background-color: $threeSixty_theme_gold;
    @include large-screen {
      top: 48%;
      left: 56%;
    }
  }

  .hidden-content {
    pointer-events: none;
    position: absolute;
    bottom: calc(100% + 16px);
    opacity: 0;
    gap: 4px;
    border-radius: 8px;
    padding: 12px 16px;
    background-color: $threeSixty_theme_white;
    width: 190px;
    text-align: center;
    transition: opacity $duration;
    left: 50%;
    transform: translate(-50%);
    .country-flag {
      width: 34px;
      height: 20px;
      @include marginX(auto);
    }

    .country-name {
      margin-top: 4px;
      color: #181D27;
    }

    .location {
      color: #535862;
    }

    &.show {
      opacity: 1;
    }
  }


  .image-wrapper {
    width: 100%;
    @include large-screen {
      padding-inline: 96px;
    }

    .image {
      padding-top: 47.16%;
    }
  }

  .circle {

  }

  .pulse {
    animation: pulse-animation 2s infinite;
  }

  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0 rgba(202, 133, 4, 0.5);
    }
    100% {
      box-shadow: 0 0 0 10px rgba(202, 133, 4, 0);
    }
  }

}
