@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.who_we_are_block {
  position: relative;
  overflow: hidden;

  .logo {
    display: none;
    @include media-screen-992 {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-end: 0;
      width: auto;
      height: 100%;
      display: block;
      pointer-events: none;
    }
  }

  .cards-wrapper {
    padding-block: 65px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 50px;
    @include min-medium-screen {
      padding-block: 127px 124px;

      flex-direction: row;
      gap: 0;
    }

    .left-content {
      width: 100%;
      margin-inline: auto;
      align-items: center;
      max-width: 620px;
      @include media-screen-992 {
        margin-inline-end: auto;
        margin-inline-start: 0;
        max-width: 100%;
        width: 46.99%;
        align-items: flex-start;
      }

      .sub-title {
        color: $threeSixty_theme_brand-600;
      }

      .title {
        p {
          font-weight: 300;
          color: $threeSixty_theme_gray-950;

        }
      }

      p {
        text-align: center;
        @include media-screen-992 {
          text-align: left;
        }
      }

      .description {
        @include min-medium-screen {
          max-width: 495px;
        }
        @include large-screen {
          max-width: 566px;
        }

        p {
          color: $threeSixty_theme_gray-500;
        }
      }

      .left-content-btn {
        margin-top: 22px;
        padding: 17.9px 48px;
        min-width: 235px;
      }
    }

    .right-image {
      width: 100%;
      @include media-screen-992 {
        display: none;
      }
      @include min-medium-screen {
        width: 28.64%;
      }

      .image {
        max-width: 300px;
        margin: 0 auto;

        img {
          object-fit: contain;
        }
      }
    }
  }

  body.rtl & {
    .left-content {
      p {
        text-align: center;
        @include media-screen-992 {
          text-align: right;
        }
      }
    }


    .logo {
      @include media-screen-992 {
        inset-inline-end: -11%;
      }

      @include min-medium-screen {
        inset-inline-end: -12.5%;
      }
      @include large-screen {
        inset-inline-end: -10.5%;
      }
    }
  }
}
