@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author HOSSAM
.our_services_details_block {
  background: linear-gradient(180deg, #FFF 0%, #F2F4F7 30.39%);
  padding-block: 65px;
  @include min-medium-screen {
    padding-block: 80px;
  }
  @include large-screen {
    padding-block: 128px;
  }

  .overview-content {
    padding-bottom: 60px;
    @include min-medium-screen {
      @include marginX(auto);
      max-width: 700px;
    }
    @include large-screen {
      padding-bottom: 128px;
      max-width: 926px;
    }
  }

  .services-cards {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(1, 1fr);
    padding-block: 50px;
    border-top: 1px solid $threeSixty_theme_gray-300;
    @include media-screen-992 {
      gap: 30px;
      grid-template-columns: repeat(2, 1fr);
    }
    @include min-medium-screen {
      gap: 60px 107px;
      padding-block: 60px;
    }
    @include large-screen {
      padding-block: 128px;
    }

    .services-card {
      display: flex;
      align-items: center;
      gap: 32px;

      .icon-wrapper {
        @include square(40px);
        flex-shrink: 0;
        @include min-medium-screen {
          width: 57px;
          height: 56px;
        }

        svg, img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .service-benefit-wrapper {
        gap: 8px;

        .title {
          color: $threeSixty_theme_gray-950;
        }
      }
    }

  }

  .offering-cards {
    display: grid;
    gap: 40px 15px;
    grid-template-columns: repeat(1, 1fr);
    @include media-screen-768 {
      grid-template-columns: repeat(2, 1fr);
    }
    @include large-screen {
      grid-template-columns: repeat(3, 1fr);
      gap: 80px 32px;
    }

    .offering-card {
      border-radius: 8px;
      border: 1px solid #E4E7EC;
      background: $threeSixty_theme_white;
      box-shadow: 0 4px 8px -2px (rgba(16, 24, 40, 0.10));
      padding-block: 30px 25px;
      transition: box-shadow $duration;
      @include min-medium-screen {
        padding-block: 60px 50px;
      }

      .image-title {
        gap: 32px;
        align-items: center;
        border-bottom: 1px solid #E4E7EC;
        padding-bottom: 40px;
        @include paddingX(32px);
        @include min-medium-screen {
          padding-bottom: 42px;
          @include paddingX(65px);
        }

        .offering-image {
          width: 150px;
          height: 125px;

          img {
            object-fit: contain;
          }
        }

        .offering-title {
          p {
            text-transform: uppercase;
            color: $threeSixty_theme_gray-950;
            font-weight: 300;
          }
        }
      }

      .description-btn {
        gap: 27px;
        padding-top: 20px;
        @include paddingX(25px);
        @include min-medium-screen {
          padding-top: 42px;
          @include paddingX(56px);
        }

        .description {
          max-width: 262px;
        }
        .offering-btn {
          width: 100%;

          .icon {
            width: 29px;
            height: 25px;
            flex-shrink: 0;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }

      &:hover {
        box-shadow: 0 32px 64px -12px rgba(16, 24.000000000000014, 40, 0.14);
      }
    }
  }
}
