@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;
@import "swiper/css";

// @author DELL
.what_we_are_offering_block {
  padding-block: 65px;
  background-color: $threeSixty_theme_gray-100;
  @include min-medium-screen {
    padding-block: 128px;
  }

  .container{
    @include min-medium-screen{
      padding-inline: 0;
    }
  }

  .top-content {
    gap: 15px;
    @include marginX(auto);
    @include media-screen-600 {
      max-width: 630px;
    }
    @include min-medium-screen {
      max-width: 800px;
    }
    @include large-screen {
      max-width: 768px;
    }

    .sub-title {
      letter-spacing: normal;
      color: $threeSixty_theme_brand-600;
    }

    .title {
      color: $threeSixty_theme_gray-950;
    }

    .description {
      p {
        line-height: 150%;
        color: $threeSixty_theme_gray-500;
        @include min-medium-screen {
          font-size: 20px;
        }
      }
    }
  }

  .swiper {
    @include min-medium-screen{
      padding-inline: 24px;
    }
  }

  .offering-cards {
    padding-block: 45px 40px;
    @include min-medium-screen {
      padding-block: 90px 80px;
    }

    .offering-card {
      height: auto;
      @include min-medium-screen {
        padding-block: 70px 52px;
      }
    }
  }
}
