@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.service_hero {
  @include paddingY(40px);
  min-height: 518px;
  @include min-medium-screen {
    @include paddingY(141px, 143px);
  }

  .content-wrapper {
    gap: 10px;
    @include small-screen {
      text-align: center;
    }
    @include min-medium-screen {
      max-width: 704px;

    }

    .description{
      max-width: 654px;}
  }
}
