.our_expertise_block {
  padding-block: 65px;
}
@media screen and (min-width: 1024px) {
  .our_expertise_block {
    padding-block: 128px;
  }
}
.our_expertise_block .cards-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 50px;
}
@media screen and (min-width: 1024px) {
  .our_expertise_block .cards-wrapper {
    flex-direction: row;
    gap: 0;
  }
}
.our_expertise_block .cards-wrapper .left-content {
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .our_expertise_block .cards-wrapper .left-content {
    width: 63.37%;
  }
}
.our_expertise_block .cards-wrapper .left-content .sub-title {
  color: var(--wp--preset--color--brand-600);
}
.our_expertise_block .cards-wrapper .left-content .title {
  color: var(--wp--preset--color--gray-950);
}
.our_expertise_block .cards-wrapper .left-content .description {
  max-width: 730px;
}
.our_expertise_block .cards-wrapper .left-content .description p {
  line-height: 150%;
  color: var(--wp--preset--color--gray-500);
}
@media screen and (min-width: 1024px) {
  .our_expertise_block .cards-wrapper .left-content .description p {
    font-size: 20px;
  }
}
.our_expertise_block .cards-wrapper .right-image {
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--wp--preset--color--gray-300);
  background: var(--wp--preset--color--white);
  box-shadow: 0px 32px 64px -12px rgba(16, 24, 40, 0.14);
  padding: 42px 37px;
}
@media screen and (min-width: 1024px) {
  .our_expertise_block .cards-wrapper .right-image {
    width: 32.18%;
    padding: 85px 75px;
  }
}
.our_expertise_block .cards-wrapper .right-image .image {
  padding-top: 46.92%;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .our_expertise_block .cards-wrapper .right-image .image {
    padding-top: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .our_expertise_block .cards-wrapper .right-image .image {
    padding-top: 83.33%;
  }
}
.our_expertise_block .cards-wrapper .right-image .image img {
  -o-object-fit: contain;
     object-fit: contain;
}
