@charset "UTF-8";
:root {
  --main-bg-color: #FDF8EE;
  --footer-text-color: #FDF8EE;
  --btn-border-color: #E1D9C3;
  --text-color: #5B7C5B;
  --white: #FFF;
  --duration: 500ms;
  --primary-color: #AE8F2B;
  --button-text-color: #AE8F2B;
  --button-border-color: #E1D9C3;
  --button-hover-bg-color: #AE8F2B;
  --fav-icon: #F4C6CB;
  --bg-image: #FDFBEC;
  --default-box-shadow: 0px 1px 3px 0px #DDD3B9, 0px 1px 2px 0px #E1D9C3;
  --hover-box-shadow: 0px 20px 24px -4px rgba(225, 217, 195, 0.65), 0px 8px 8px -4px rgba(233, 229, 221, 0.03);
}

/* ===========================
   🎨 Basic Colors and Fonts
=========================== */
body {
  background-color: var(--main-bg-color) !important;
  font-family: "Tajawal", "Poppins", sans-serif !important;
}

/* ===========================
   🟢 Header Styling
=========================== */
.top-navbar {
  background-color: #FEF9F0;
  height: 75px;
}

.topnav-link-item {
  border-color: var(--text-color);
  color: #12290F;
  /* Text sm/Regular */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  transition: color var(--duration);
}
.topnav-link-item:hover {
  color: var(--text-color);
}

.topnav-is-dark .top-navbar {
  background-color: #FEF9F0;
}

.navbar-brand img {
  max-height: 4rem !important;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 32px;
  margin-right: 64px;
}

.main-menu li a {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  transition: color var(--duration), background-color var(--duration);
  padding-inline: 0;
}
.main-menu li a:hover {
  color: #FFD035;
}
@media (max-width: 1023.98px) {
  .main-menu li a {
    color: black;
  }
  .main-menu li a:hover {
    color: var(--text-color);
  }
}

.header-buttons {
  margin-left: 20px;
}

.header-btn {
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-btn, #s-cart-icon {
  transition: color var(--duration), border-color var(--duration);
  border: 1px solid white;
  border-radius: 50%;
}
.header-btn .header-btn__icon, #s-cart-icon .header-btn__icon {
  color: white;
  transition: color var(--duration);
}
.header-btn:hover, #s-cart-icon:hover {
  border: 1px solid #FFD035;
  color: #FFD035;
  opacity: 1;
}
.header-btn:hover .header-btn__icon, #s-cart-icon:hover .header-btn__icon {
  color: #FFD035;
}

#s-cart-icon {
  width: 38px !important;
  height: 38px;
  transition: color var(--duration);
  margin-inline: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#s-cart-icon i {
  margin-left: 0;
}
#s-cart-icon .s-cart-summary-count {
  background-color: #B32318 !important;
  margin-right: 12px !important;
  margin-top: -2px !important;
  position: relative;
}

span.mx-1\.5 {
  display: none !important;
}

.header-buttons button {
  background-color: transparent;
  border: 1px solid #A6B99C;
  gap: 10px;
  transition: background-color var(--duration), border-color var(--duration);
}
.header-buttons button span {
  color: #667085;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  transition: color var(--duration);
}
.header-buttons button:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}
.header-buttons button:hover span {
  color: var(--white);
}

.main-menu > .has-children a {
  transition: color var(--duration);
}

.main-menu .has-children > a:after {
  color: currentColor;
  transition: all var(--duration);
  opacity: 1;
  margin-bottom: 2px;
}

.main-menu .has-children.root-level:hover > a:after {
  color: #FFD035;
}

.main-menu > .has-children:hover > a {
  color: #FFD035;
}

.main-menu li:hover > .sub-menu {
  background-color: var(--text-color);
}

.main-menu .has-children li a {
  padding-inline: 20px;
}

.main-menu .has-children li a {
  transition: background-color var(--duration);
  color: white;
  opacity: 2;
}

.main-menu .has-children li a:hover, .main-menu .has-children .has-children:hover > a {
  background-color: var(--primary-color);
  color: white;
}

.header-btn__icon {
  border: none;
}

.main-nav-container {
  background-color: var(--text-color) !important;
}

.sicon-menu:before {
  color: var(--white) !important;
}

@media (max-width: 1023.98px) {
  .mm-spn.mm-spn--navbar.mm-spn--main, .mm-spn--open {
    background-color: #E1D9C3;
  }
}

.mm-spn.mm-spn--navbar:after {
  background-color: #E1D9C3;
}

@media (max-width: 1023.98px) {
  .mm-spn--open {
    background-color: #E1D9C3 !important;
  }
}
.mm-spn--open .text-sm {
  color: black !important;
}

.mm-spn li a span {
  transition: color var(--duration);
  color: black !important;
}

a.text-gray-500:hover span {
  color: var(--text-color) !important;
}

.mm-spn ul.main-menu li:before {
  opacity: 1;
}

/* ===========================
   🔍 Search Field
=========================== */
.s-search-input {
  height: 38px !important;
  border-radius: 27px !important;
  background-color: #E3E1D1 !important;
  color: var(--text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.s-search-input::-moz-placeholder {
  color: var(--text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.s-search-input::placeholder {
  color: var(--text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.s-search-results {
  background-color: #E3E1D1 !important;
}

.s-search-product {
  border: none;
}

.s-search-product-title {
  color: var(--text-color);
  transition: color var(--duration);
}
.s-search-product-title:hover {
  color: var(--primary-color);
}

.s-search-product-price {
  color: var(--primary-color);
}

.s-search-product-regular-price {
  color: var(--text-color);
}

/* ===========================
   🟢 Header Styling
=========================== */
/* ===========================
   🟨 Headlines
=========================== */
h2 {
  color: #542C0D;
  text-align: right;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
}

/* ===========================
   🟨 Buttons and Interactions
=========================== */
/* ===========================
   🟨 add to cart
=========================== */
.s-product-card-content-footer button,
.s-block--slider-with-bg .s-slider-block__display-all,
.s-payments-list-item,
.s-product-card-wishlist-btn button, .s-button-primary, .s-fast-checkout-button {
  border: 1px solid var(--button-border-color) !important;
  border-radius: 29px !important;
  background: var(--white);
  transition: all var(--duration);
}

/* ===========================
   🟨 favorite icon
=========================== */
.s-product-card-wishlist-btn button {
  opacity: 1 !important;
  background: var(--white) !important;
  border: 1px solid var(--fav-icon) !important;
}
.s-product-card-wishlist-btn button .s-button-text {
  color: var(--fav-icon) !important;
}
.s-product-card-wishlist-btn button:hover {
  background-color: var(--fav-icon) !important;
  border-color: var(--fav-icon) !important;
}

.s-product-card-content-footer button:hover, .s-button-primary button:hover {
  background-color: var(--button-hover-bg-color) !important;
  border-color: var(--button-hover-bg-color) !important;
}

.s-product-card-content-footer button:hover span, .s-button-primary button:hover span, .s-fast-checkout-button button:hover span {
  color: var(--white) !important;
}

.s-product-card-content-footer button:hover .sicon-shopping-bag::before {
  filter: brightness(0) invert(1) !important;
}

.s-button-text {
  color: var(--button-text-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100% !important;
  gap: 10px;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  transition: all var(--duration);
}
.s-button-text span {
  display: block;
}

.s-button-small {
  border: 1px solid var(--button-border-color) !important;
  background: var(--white);
  transition: all var(--duration);
}
.s-button-small .sicon-cancel {
  color: all var(--duration);
}
.s-button-small:hover {
  background-color: var(--button-hover-bg-color) !important;
  border-color: var(--button-hover-bg-color) !important;
}
.s-button-small:hover .sicon-cancel {
  color: var(--white);
}

/* ===========================
   🟫 card style
=========================== */
.s-product-card-content-title a {
  color: var(--text-color) !important;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  transition: color var(--duration);
}
@media (min-width: 1024px) {
  .s-product-card-content-title a {
    font-size: 20px;
  }
}

.s-product-card-promotion-title {
  font-weight: 500;
  background-color: var(--primary-color);
}

.s-product-card-content-title a:hover {
  color: var(--primary-color) !important;
}

.s-product-card-content-subtitle {
  color: var(--primary-color);
  font-family: "Tajawal";
  font-size: 14px;
  font-style: normal;
  font-weight: 500 !important;
  line-height: 20px; /* 142.857% */
}

.s-product-card-sale-price h4 {
  color: #542C0D !important;
}

.s-product-card-sale-price span {
  color: var(--text-color) !important;
}

.s-product-card-image img {
  background-color: var(--bg-image);
}

.s-product-card-price {
  color: #542C0D !important;
}

.s-product-card-content-title a {
  color: var(--text-color) !important;
}

.s-product-card-vertical .s-product-card-wishlist-btn:hover .sicon-heart {
  color: var(--white) !important;
}

/* ===========================
   🟫 card style
=========================== */
/* ===========================
   🟫 navigation style
=========================== */
.s-slider-v-centered .s-slider-block__title-nav button {
  border: 1px solid var(--primary-color);
  transition: all var(--duration);
}

.s-slider-nav-arrow {
  background-color: transparent !important;
  transition: opacity var(--duration);
  border-radius: 50% !important;
  box-shadow: none !important;
  border-color: var(--primary-color);
}
.s-slider-nav-arrow .s-slider-button-icon svg path {
  transition: fill var(--duration);
  fill: var(--primary-color);
}
.s-slider-nav-arrow:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.s-slider-nav-arrow:hover .s-slider-button-icon svg path {
  fill: #FDF8EE !important;
}

.swiper-button-disabled {
  opacity: 0.5 !important;
  pointer-events: none !important;
}

.s-slider-next {
  border-color: var(--primary-color) !important;
}
.s-slider-next .s-slider-button-icon {
  transform: rotate(-180deg);
}

.s-slider-prev {
  border-color: var(--primary-color) !important;
}

.s-block--testimonials .s-slider-v-centered .s-slider-block__title-nav button:hover, .s-block--categories .s-slider-v-centered .s-slider-block__title-nav button:hover {
  background-color: var(--primary-color) !important;
}

/* ===========================
   🟫 navigation style
=========================== */
/* ===========================
   🟫 Pagination style
=========================== */
.swiper-pagination-bullet {
  transition: background-color var(--duration), opacity var(--duration);
  background-color: var(--primary-color) !important;
}

.swiper-pagination-bullet-active {
  background-color: var(--text-color) !important;
}

/* ===========================
   🟫 s-block--full-banner
=========================== */
.s-block--full-banner {
  position: relative;
  padding-top: 38%;
}
.s-block--full-banner .full-banner-entry {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ===========================
   🟫 s-block s-block--categories
=========================== */
.s-block--categories .slide--cat-entry {
  border-color: transparent;
  box-shadow: var(--default-box-shadow);
}
.s-block--categories .slide--cat-entry:hover {
  box-shadow: var(--hover-box-shadow);
}
@media (min-width: 992px) {
  .s-block--categories {
    margin-top: -60px;
  }
}
.s-block--categories .slide--cat-entry h2 {
  font-weight: 500 !important;
  font-size: 16px !important;
  color: var(--text-color) !important;
}
@media (min-width: 1024px) {
  .s-block--categories .slide--cat-entry h2 {
    font-size: 20px !important;
  }
}
.s-block--categories .swiper-slide i {
  color: var(--primary-color);
}
.s-block--categories .s-slider-container {
  padding-bottom: 30px;
}
.s-block--categories .s-slider-nav-arrow {
  background-color: var(--white) !important;
}

/* ===========================
   🟫 Product Cards & Shadows
=========================== */
.s-product-card-entry,
.brand-item,
.banner-entry,
.s-block--features__item,
.swiper-slide.slide--one-sixth {
  box-shadow: var(--default-box-shadow);
  transition: box-shadow var(--duration) ease;
}

.s-product-card-entry:hover,
.brand-item:hover,
.banner-entry:hover,
.s-block--features__item:hover,
.swiper-slide.slide--one-sixth:hover {
  box-shadow: var(--hover-box-shadow);
}

/* ===========================
   🌿 s-block--features
=========================== */
.feature-icon {
  background-color: var(--text-color) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px !important;
  height: 58px !important;
  border-radius: 50% !important;
}

.s-block--features .grid {
  gap: 23px;
}

.s-block--features__item {
  padding-top: 43px;
  padding-bottom: 43px;
}

.s-block--features .feature-icon i {
  color: var(--white);
}

.s-block--features__item h2 {
  color: var(--text-color);
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 30px;
}
@media (min-width: 1024px) {
  .s-block--features__item h2 {
    font-size: 20px !important;
  }
}

.s-block--features__item p {
  color: var(--primary-color);
  font-size: 14px !important;
  font-weight: 500;
  line-height: 24px;
}
@media (min-width: 1024px) {
  .s-block--features__item p {
    font-size: 16px !important;
  }
}

/* ===========================
   🖼️ Banners & Slider Cards
=========================== */
.slide--one-sixth,
.swiper-slide.slide--one-sixth {
  border-radius: 6px !important;
  padding: 0px !important;
  margin: 5px;
  border: none !important;
}

.banner-entry {
  padding: 0px !important;
}

.s-products-slider-card .s-product-card-image {
  border-top-left-radius: 0.75rem !important;
  border-top-right-radius: 0.75rem !important;
}

.s-block--hero-slider .swiper-slide .overlay-bg::after {
  background: none !important;
}

/* ===========================
   🧾 s-block--slider-with-bg
=========================== */
.s-block--slider-with-bg {
  background-color: var(--main-bg-color) !important;
}
@media (max-width: 768.98px) {
  .s-block--slider-with-bg .pt-8 {
    padding-top: 10px;
  }
}
@media (min-width: 1024px) {
  .s-block--slider-with-bg h3.text-lg {
    margin-bottom: 32px;
    color: var(--white);
    text-align: right;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 60px; /* 125% */
    letter-spacing: -0.96px;
  }
}
.s-block--slider-with-bg p.text-sm {
  margin-bottom: 32px;
  color: var(--white);
  /* Text lg/Regular */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.s-block--slider-with-bg .s-slider-block__display-all {
  border-radius: 6px !important;
  border: 1px solid #E1D9C3 !important;
  color: white !important;
  opacity: 1 !important;
  /* Text lg/Regular */
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
}
.s-block--slider-with-bg .s-slider-block__display-all:hover {
  border-color: var(--primary-color) !important;
  background-color: var(--primary-color) !important;
}

/* ===========================
   🧾 s-block--hero-slider
=========================== */
.s-block--hero-slider h2 {
  text-align: center;
  color: white;
  font-size: 20px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 150% */
}
@media (min-width: 1024px) {
  .s-block--hero-slider h2 {
    font-size: 28px !important;
  }
}
.s-block--hero-slider .description {
  font-size: 16px !important;
}
@media (min-width: 1024px) {
  .s-block--hero-slider .description {
    font-size: 28px !important;
  }
}

/* ===========================
   🧾 s-block--logos-slider
=========================== */
.s-block--logos-slider {
  background-color: var(--main-bg-color);
}
.s-block--logos-slider .brand-item {
  border-radius: 6px;
  background: var(--white);
  box-shadow: var(--default-box-shadow);
  transition: box-shadow var(--duration);
}
.s-block--logos-slider .brand-item:hover {
  /* Aqhawan Shadow */
  box-shadow: var(--hover-box-shadow);
}

/* ===========================
   🧾 s-block--testimonials
=========================== */
.s-block--testimonials .s-reviews-header {
  color: #542C0D;
}
.s-block--testimonials .s-reviews-testimonial__text p, .s-block--testimonials .s-reviews-testimonial__info {
  color: var(--text-color);
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  font-size: 14px !important;
}
@media (min-width: 1023.98px) {
  .s-block--testimonials .s-reviews-testimonial__text p, .s-block--testimonials .s-reviews-testimonial__info {
    font-size: 20px !important;
  }
}
.s-block--testimonials .s-reviews-testimonial__info {
  color: #542C0D;
  font-size: 14px !important;
}
@media (min-width: 1023.98px) {
  .s-block--testimonials .s-reviews-testimonial__info {
    font-size: 20px !important;
  }
}
.s-block--testimonials .s-slider-v-centered .s-slider-block__title-nav button {
  border-color: #C3A853 !important;
  background-color: white !important;
}

/* ===========================
   🧾 best offers Styling
=========================== */
.s-block--best-offers .s-slider-block__title {
  margin-bottom: 32px;
}
.s-block--best-offers .swiper {
  padding-bottom: 40px;
}

/* ===========================
   🧾 Footer Styling
=========================== */
.store-footer, .store-footer__inner {
  background-color: var(--text-color) !important;
}
.store-footer p, .store-footer b, .store-footer__inner p, .store-footer__inner b {
  color: var(--footer-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.store-footer .s-payments-list .s-payments-list-item, .store-footer__inner .s-payments-list .s-payments-list-item {
  border: none !important;
}

.s-payments-list-item {
  background-color: transparent !important;
}

.footer-is-light .store-footer .store-footer__inner {
  border: none !important;
}

.store-footer div:has(.copyright-text) {
  border-top: 1px solid var(--footer-text-color);
}

.store-footer__inner + div {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.store-footer h3 {
  color: var(--footer-text-color);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

.store-footer a {
  color: var(--footer-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  transition: color var(--duration);
}
.store-footer a:hover {
  color: #FFD035;
}

.copyright-text p {
  color: var(--footer-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.s-contacts-icon, .s-social-link {
  transition: all var(--duration);
}

.store-footer a:hover {
  opacity: 1;
}
.store-footer a:hover .s-contacts-icon {
  border-color: #FFD035;
}

.s-social-link a:hover {
  border-color: #FFD035;
}

/* ===========================
   🧾 Footer Styling
=========================== */
/* ===========================
   🛒 Cart & User Menu
=========================== */
.s-user-menu-trigger {
  background: transparent !important;
  padding: 0px !important;
}

.s-user-menu-trigger-avatar {
  height: 2.12rem !important;
  width: 2.12rem !important;
  border-radius: 6px !important;
}

.s-user-menu-wrapper {
  margin-top: -3px;
}

.s-cart-summary-total {
  color: white !important;
}

/* ===========================
   📱 Responsive Layout
=========================== */
@media (min-width: 1024px) {
  .main-nav-container,
  .flex.items-stretch.justify-between.relative {
    min-height: 100px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .mm-spn li a span {
    padding: 0;
    color: black;
    margin-right: 15px;
  }
}
@media only screen and (max-width: 640px) {
  .s-products-list-horizontal-cards {
    gap: 1.5rem !important;
  }
  .s-block--special-products .tabs__item {
    gap: 1.5rem 0.75rem !important;
  }
}
/* ===========================
   🔝 Back to Top Button
=========================== */
#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: bold;
  background-color: #D4AF37; /* Elegant Gold */
  color: white;
  border: none;
  border-radius: 6px;
  display: none;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  z-index: 999;
}

#backToTop:hover {
  opacity: 1;
}

.s-block--full-bg + footer, .s-block--full-bg + .s-block--full-bg, .s-block--full-bg:first-of-type {
  margin-top: 0;
  background: #FDF8EE;
}

/* ===========================
   devloper style
=========================== */
.sicon-menu {
  color: var(--white);
}

salla-products-slider .swiper {
  padding-bottom: 40px;
}
@media (min-width: 1024px) {
  salla-products-slider .swiper {
    padding-bottom: 20px;
  }
}

.s-comments-product {
  background-color: var(--main-bg-color);
}

/* ===========================
   Cart Page
=========================== */
.s-button-primary, .s-fast-checkout-button {
  border: 1px solid var(--button-border-color) !important;
  border-radius: 29px !important;
  background: var(--white);
}
.s-button-primary:hover, .s-fast-checkout-button:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.s-button-primary:hover .s-button-text, .s-fast-checkout-button:hover .s-button-text {
  color: var(--white) !important;
}

.cart-item {
  box-shadow: var(--default-box-shadow);
  transition: box-shadow var(--duration);
  border-radius: 12px;
}
.cart-item:hover {
  box-shadow: var(--hover-box-shadow);
}
.cart-item .text-base {
  color: var(--text-color);
  text-align: right;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px; /* 150% */
  transition: color var(--duration);
}
.cart-item .text-base:hover {
  color: var(--primary-color);
}
.cart-item .item-price {
  color: #542C0D !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.cart-item .text-sm {
  color: var(--primary-color);
}

.s-quantity-input-container {
  border-color: var(--primary-color);
}

.s-quantity-input-input {
  border-color: var(--primary-color);
  color: var(--primary-color);
}

.s-quantity-input-button svg path {
  transition: fill var(--duration);
  fill: var(--primary-color);
}
.s-quantity-input-button svg:hover path {
  fill: var(--text-color);
}

/* ===========================
   s-breadcrumb-wrapper
=========================== */
.s-breadcrumb-wrapper {
  font-size: 16px;
  font-weight: 500;
  color: #542C0D;
}

/* ===========================
   Product Page
=========================== */
h1.font-bold {
  color: var(--primary-color);
}

button.btn--wishlist, .s-button-light-outline {
  border: 1px solid var(--btn-border-color) !important;
  transition: all var(--duration);
}
button.btn--wishlist:hover, .s-button-light-outline:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--white) !important;
}
button.btn--wishlist:hover .s-button-text, .s-button-light-outline:hover .s-button-text {
  color: var(--white);
}

button.s-fast-checkout-button {
  border: 1px solid var(--button-border-color) !important;
  border-radius: 29px !important;
  background: var(--white);
  color: var(--primary-color) !important;
}
button.s-fast-checkout-button:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
  color: var(--white) !important;
}

.s-comments-item-like-btn:hover .s-button-text {
  color: var(--white) !important;
}

.s-fast-checkout-button.outline {
  display: none !important;
}

/* ===========================
   comment
=========================== */
.s-comment-form-input {
  border-radius: 12px !important;
  background-color: #E3E1D1 !important;
  color: var(--text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  resize: none;
  border: none;
}
.s-comment-form-input::-moz-placeholder {
  color: var(--text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.s-comment-form-input::placeholder {
  color: var(--text-color) !important;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.s-comments-item-timestamp {
  font-weight: 500 !important;
}

.s-comments-item-user-info-name {
  font-weight: 500 !important;
}

.s-comments-item-content p {
  font-weight: 500 !important;
}

.s-social-share-icon svg {
  transition: fill var(--duration);
}
.s-social-share-icon svg path {
  fill: var(--primary-color);
}
.s-social-share-icon svg:hover path {
  fill: var(--text-color);
}

.s-product-card-image:not(.s-product-card-horizontal .s-product-card-image) {
  flex: unset;
  position: relative;
  height: 0;
  padding-top: 100%;
}
.s-product-card-image:not(.s-product-card-horizontal .s-product-card-image) a, .s-product-card-image:not(.s-product-card-horizontal .s-product-card-image) img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.mac-user .s-button-text span {
  margin-top: 3px !important;
}
.mac-user .sticky-product-bar .s-button-text {
  margin-top: 3px !important;
}
.mac-user .s-search-input {
  font-family: "system-ui";
}
.mac-user .s-search-input::-moz-placeholder {
  font-family: "system-ui";
}
.mac-user .s-search-input::placeholder {
  font-family: "system-ui";
}
