.blog_hero_block {
  background-color: var(--wp--preset--color--black);
  min-height: 400px;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
@media screen and (min-width: 1024px) {
  .blog_hero_block {
    min-height: 518px;
    padding-top: 142px;
    padding-bottom: 144px;
  }
}
.blog_hero_block .container {
  width: 100%;
  max-width: 1440px;
  padding-right: 24px;
  padding-left: 24px;
}
@media screen and (min-width: 1024px) {
  .blog_hero_block .container {
    padding-right: 112px;
    padding-left: 112px;
  }
}
.blog_hero_block .content-wrapper {
  gap: 10px;
  max-width: 500px;
}
@media screen and (max-width: 599.98px) {
  .blog_hero_block .content-wrapper {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .blog_hero_block .content-wrapper {
    max-width: 630px;
  }
}
