.site_mab_block {
  padding-block: 68px 128px;
}
@media screen and (min-width: 1024px) {
  .site_mab_block {
    padding-top: 58px;
  }
}
.site_mab_block .content-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 20px;
}
.site_mab_block .content-wrapper .content {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .site_mab_block .content-wrapper .content {
    width: 30%;
  }
}
@media screen and (min-width: 1024px) {
  .site_mab_block .content-wrapper .content {
    width: 24.02%;
  }
}
.site_mab_block .content-wrapper .content .description {
  margin-top: 16px;
  margin-left: 20px;
}
@media screen and (min-width: 1024px) {
  .site_mab_block .content-wrapper .content .description {
    margin-left: 35px;
  }
}
.site_mab_block .content-wrapper .content .description ul li:not(:last-child) {
  margin-bottom: 8px;
}
.site_mab_block .content-wrapper .content .description ul li a:hover {
  color: var(--wp--preset--color--gold);
}
