.get_in_touch_block {
  position: relative;
  padding-top: 65px;
  padding-bottom: 65px;
}
@media screen and (min-width: 992px) {
  .get_in_touch_block {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 1024px) {
  .get_in_touch_block {
    padding-top: 128px;
    padding-bottom: 128px;
  }
}
.get_in_touch_block .question-svg {
  width: 285.685px;
  height: 220px;
  margin-bottom: 32px;
}
@media screen and (max-width: 599.98px) {
  .get_in_touch_block .question-svg {
    width: 245.685px;
    height: 190px;
  }
}
@media screen and (min-width: 768px) {
  .get_in_touch_block .question-svg {
    width: 454.685px;
    height: 350px;
  }
}
.get_in_touch_block .question-svg svg, .get_in_touch_block .question-svg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.get_in_touch_block .join-us-card {
  border: 1px solid var(--wp--preset--color--gray-300);
  padding: 62px 42px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  .get_in_touch_block .join-us-card {
    max-width: 650px;
    padding: 62px 20px;
  }
}
@media screen and (min-width: 1024px) {
  .get_in_touch_block .join-us-card {
    max-width: 768px;
    padding: 62px 42px;
  }
}
.get_in_touch_block .join-us-card .membership-title {
  margin-bottom: 8px;
  color: #101828;
}
.get_in_touch_block .join-us-card .membership-info {
  margin-bottom: 32px;
  color: var(--wp--preset--color--tertiary-600);
}
@media screen and (max-width: 599.98px) {
  .get_in_touch_block .join-us-card .theme-cta-button {
    font-size: 18px;
  }
}
