@media screen and (min-width: 1280px) {
  .text_block .content-wrapper {
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
  }
}
.text_block .content-wrapper .content {
  border-top: 1px solid var(--wp--preset--color--gray-300);
  padding-top: 30px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1024px) {
  .text_block .content-wrapper .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
.text_block .content-wrapper .content .title {
  margin-bottom: 20px;
}
.text_block .content-wrapper .content .description p {
  margin-bottom: 14px;
}
.text_block .content-wrapper .content .description ol {
  margin-left: 18px;
}
@media screen and (min-width: 1024px) {
  .text_block .content-wrapper .content .description ol {
    margin-left: 17px;
  }
}
@media screen and (min-width: 1280px) {
  .text_block .content-wrapper .content .description ol {
    margin-left: 20px;
  }
}
.text_block .content-wrapper .content .description ul {
  margin-left: 15px;
  padding-left: 12px;
}
@media screen and (min-width: 1280px) {
  .text_block .content-wrapper .content .description ul {
    padding-left: 40px;
    margin-left: 17.9px;
  }
}
.text_block .content-wrapper .content .description a {
  color: var(--wp--preset--color--brand-600);
}
.text_block .content-wrapper .content .description a:hover {
  color: var(--wp--preset--color--gray-500);
}
