.service_hero {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media screen and (min-width: 1024px) {
  .service_hero {
    padding-top: 141px;
    padding-bottom: 143px;
  }
}
.service_hero .content-wrapper {
  gap: 10px;
}
@media screen and (max-width: 599.98px) {
  .service_hero .content-wrapper {
    text-align: center;
  }
}
@media screen and (min-width: 1024px) {
  .service_hero .content-wrapper {
    max-width: 914px;
  }
}
.service_hero .content-wrapper .description {
  max-width: 654px;
}
