.autoplay-swiper-cont {
  overflow-x: hidden;
  width: 100%;
}
.autoplay-swiper-cont .autoplay-swiper {
  display: flex;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.autoplay-swiper-cont .autoplay-swiper .autoplay-swiper-wrapper {
  display: flex;
  align-items: center;
}
.autoplay-swiper-cont .autoplay-swiper .autoplay-swiper-wrapper .autoplay-swiper-slide {
  flex-shrink: 0;
}

body:not(.rtl) .autoplay-swiper {
  animation-name: autoplay;
}
@keyframes autoplay {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

body.rtl .autoplay-swiper {
  display: flex;
  animation-name: autoplay-arabic-direction;
}
@keyframes autoplay-arabic-direction {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.tools_and_platforms_block {
  position: relative;
  background-color: var(--wp--preset--color--black);
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 222 !important;
}
.tools_and_platforms_block .arrow {
  position: absolute;
  width: 52px;
  height: 19px;
  top: calc(100% - 1px);
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
.tools_and_platforms_block:after {
  content: "";
  position: absolute;
  background: linear-gradient(90deg, #000 0%, #CA8504 55.5%, #000 100%);
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
@media screen and (min-width: 1024px) {
  .tools_and_platforms_block {
    height: 144px;
  }
}
.tools_and_platforms_block .autoplay-swiper-slide {
  height: 25px;
}
@media screen and (min-width: 1024px) {
  .tools_and_platforms_block .autoplay-swiper-slide {
    height: 40px;
  }
}
.tools_and_platforms_block .autoplay-swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
