@use "../common/variables" as *;
@use "../mixins/mixins" as *;

.single-post {

  .site-breadcrumb {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-block: 32px;
    position: relative;
    z-index: 2;
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 30px;
    color: $threeSixty_theme_gray-600;

    span {
      color: $threeSixty_theme_gray-400;
    }


    &:after {
      content: "";
      position: absolute;
      width: 100vw;
      height: 100%;
      background-color: #F8FAFC;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }

  .post-content-wrapper {
    max-width: 900px !important;
    margin-inline: auto;
  }

  .excerpt {
    max-width: 898px;
  }

  .blog-content {
    gap: 24px;
    margin-bottom: 52px;
    @include min-medium-screen {
      margin-bottom: 99px !important;
    }


    .post-title {
      color: $threeSixty_theme_gray-950;
    }

    .feature-image {
      padding-top: 60%;

      @include media-screen-768 {
        margin-bottom: 59px;
        margin-top: 24px;
      }

      img {
        border-radius: 0 !important;
        width: 100% !important;
        height: 100% !important;
      }
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin-block-end: 16px;
  }

  h1 {
    font-family: inherit;
    color: $threeSixty_theme_gray-900;
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    @include media-screen-992 {
      font-size: 32px;
    }
    @include large-screen {
      line-height: 125%;
      font-size: 48px;
    }
  }

  h2 {
    font-family: inherit;
    color: $threeSixty_theme_gray-900;
    font-size: 24px;
    font-weight: 400;
    line-height: 110%;
    font-style: normal;
    @include large-screen {
      font-size: 30px;
      line-height: 126.667%;
    }
  }

  h3 {
    font-family: inherit;
    color: $threeSixty_theme_gray-900;
    font-size: 22px;
    font-weight: 400;
    line-height: 133.333%;
    font-style: normal;
    @include min-medium-screen {
      font-size: 24px;
    }
  }

  h4 {
    color: $threeSixty_theme_gray-900;
    font-family: inherit;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    @include large-screen {
      font-size: 20px;
      line-height: 30px; /* 150% */
    }
  }

  h5 {
    color: $threeSixty_theme_gray-900;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 155%;
    font-style: normal;
    @include large-screen {
      font-size: 18px;
    }
  }

  h6 {
    color: $threeSixty_theme_gray-900;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
  }

  p {
    //margin-bottom: 24px;
    max-width: 100%;
  }


  strong {
    font-weight: 600;
  }

  .semi-bold {
    font-weight: 600;
  }

  .bold {
    font-weight: 700;
  }

  blockquote {
    max-width: 689px;
    padding-inline-start: 20px;
    position: relative;
    gap: 32px;
    display: flex;
    flex-direction: column;
    border-left: none;
    margin-bottom: 0;

    &:after {
      content: "";
      position: absolute;
      height: 100%;
      width: 1.5px;
      background-color: $threeSixty_theme_brand-700;
      inset-inline-start: 0;
      top: 0;
    }

    p {
      color: $threeSixty_theme_gray-900;
      font-family: inherit;
      font-size: 24px;
      font-style: italic;
      font-weight: 500;
      line-height: 133.333%;

      &:last-child {
        color: $threeSixty_theme_gray-600;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        margin-top: 0;
      }
    }

  }

  .dynamic-content {
    width: 100%;
    max-width: 720px;
    margin-inline: auto;

    .wp-block-image, .wp-block-table {
      max-width: 100% !important;
    }

    .wp-block-table {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none; /* Chrome, Safari */
      }

      table {
        border-collapse: separate;
        border-spacing: 0;
        border-radius: 8px;
        overflow: hidden;
        border: 1px solid $threeSixty_theme_gray-500;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.08);
        background: #fff;
        min-width: 600px;


        th, td {
          font-size: 18px;
          font-style: normal;
          line-height: 100%;
          padding: 10px 8px;
          color: $threeSixty_theme_gray-600;
          border: 0;
          border-inline-end: 1px solid $threeSixty_theme_gray-500;
          border-bottom: 1px solid $threeSixty_theme_gray-500;
          @include media-screen-768 {
            font-size: 18px;
            padding:15px 8px;

          }
          strong{
            color: $threeSixty_theme_gray-900;
          }
        }

        tr:last-child td {
          border-bottom: none;
        }

        tr td:last-child, tr th:last-child {
          border-inline-end: none;
        }
      }
    }

    img {
      max-width: 100% !important;
      border-radius: 12px;
    }

    figcaption {
      position: relative;
      color: $threeSixty_theme_gray-600;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 142.857%;
      text-align: left;
      margin-bottom: 0;
      margin-top: 16px;
      padding-left: 22px;

      &:after {
        //background: url("../../../../images/svgs/link.svg") no-repeat;
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 16px;
        height: 16px;

      }
    }

    a {
      display: inline-block;
      color: $threeSixty_theme_gold;
      transition: color $duration;
      text-decoration-line: underline !important;
      text-decoration-style: solid;
      text-decoration-skip-ink: none;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;

      &:hover {
        color: $threeSixty_theme_gold;
      }
    }
  }

  .wp-block-list {
    margin-block-start: 10px;
    padding-inline-start: 20px;

    li {
      color: $threeSixty_theme_gray-600;
      font-family: inherit;
      font-size: 16px;
      font-weight: 400;
      line-height: 155%;
      font-style: normal;
      margin-bottom: 8px;
    }
  }

  // table content

  .simpletoc-list {
    max-width: 100% !important;
    color: $threeSixty_theme_gray-900;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 194.444%;
    list-style: none;
    border: 1px solid $threeSixty_theme_gray-300;
    border-radius: 8px;

    li {
      min-height: 55px;
      padding-block: 10px;
      padding: 12px;

      &:not(:last-child) {
        border-bottom: 1px solid $threeSixty_theme_gray-300;
      }

      a {
        text-decoration: none !important;

        &:not(:hover) {
          color: $threeSixty_theme_gray-900;
        }
      }
    }

  }

  .tags-wrapper {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @include min-medium-screen {
      margin-bottom: 41px;
    }

    .tag-link {
      border-radius: 2px;
      background-color: $threeSixty_theme_gray-100;
      transition: color $duration, background-color $duration;
      padding: 6px 12px;

      &:hover {
        background-color: $threeSixty_theme_gray-600;
        color: $threeSixty_theme_white;
      }
    }
  }

  .author-social-links {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $threeSixty_theme_gray-200;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 24px;

    .about-author {
      gap: 16px;
      display: flex;
      align-items: center;

      .image-author {
        width: 56px;
        height: 56px;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      h5, h6 {
        margin-bottom: 0 !important;
      }
    }

    .social-links {
      display: flex;
      align-items: center;
      gap: 12px;

      .social-link {
        padding: 8px 9px;
        min-width: 40px;
        border: 1px solid $threeSixty_theme_gray-300;
        transition: background-color $duration, border-color $duration;


        svg {
          @include square(20px)
        }

        &.copy-link {
          min-width: 119px;
          display: flex;
          align-items: center;
          padding: 9.2px 14px;
          gap: 6px;
          color: #364152;
          cursor: pointer;
          position: relative;

          .copied-text {
            width: 84px;
            height: 24px;
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%) translateY(-8px);
            border-radius: 12px;
            text-align: center;
            opacity: 0;
            transition: all 0.3s ease-in-out;
            pointer-events: none;
            background: $threeSixty_theme_tertiary-600;

            &:after {
              content: "";
              position: absolute;
              top: calc(100% - 1px);
              left: 50%;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid $threeSixty_theme_tertiary-600;
              transform: translateX(-50%);
              pointer-events: none;
            }

            &.active {
              pointer-events: auto;
              visibility: visible;
              opacity: 1;
            }
          }
        }

        &:hover {
          background-color: $threeSixty_theme_gold;
          border-color: $threeSixty_theme_gold;
        }
      }
    }
  }

  .tags-wrapper, .author-social-links {
    max-width: 720px;
    width: 100%;
    margin-inline: auto;
  }

  .wp-block-group {
    * {
      margin-inline: 0 !important;
    }

    p, .wp-block-spacer {
      margin: 0 !important;
    }
  }

  .author-name {
    margin-bottom: 0 !important;
  }
}

.collection-block, .recent_posts {
  &:after {
    position: absolute;
    content: "";
    height: 1px;
    background-color: $threeSixty_theme_gray-300;
    margin: 0 auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 48px);

    @include large-screen {
      width: calc(100% - 224px);
    }
  }

  .recent-content-title {
    color: $threeSixty_theme_gray-950;
  }

  .recent-posts-swiper {
    margin-top: 54px;

    .recent-card {
      .post-title {
        .post-title-svg {
          display: none;
        }
      }

      .excerpt {
        display: none;
      }
    }
  }
}

.collection-block {
  &:after {
    display: none;
  }

  .recent-content-title {
    margin-bottom: 15px;
  }

  .text-xl {
    max-width: 790px;
  }
}

.single-post-container {
  padding-top: size(160);
  @include paddingY(size(160), size(80, 160));


  .single-post-wrapper {
    width: min(#{size(792)}, 100%);
    @include marginX(auto);
  }


  .has-label {
    margin: 0 auto 24px;
  }

  .post-title {
    margin-bottom: size(24);
    text-align: center;
    @include min-medium-screen {
      max-width: 100%;
    }
  }

  .post-date {
    text-align: center;
    font-weight: 260;
    font-size: size(18);
    line-height: size(24);
  }

  .post-featured-image {
    padding-top: 56.18%;
    border-radius: 20px;
    overflow: hidden;
    margin-top: size(40);

    + .entry-content p:first-child {
      margin-bottom: size(40);
    }
  }

  .entry-content {
    margin-top: size(40);
    padding-bottom: size(32);
  }

  .post-share-links {
    max-width: size($content-max-width);
    border-top: 2px solid $threeSixty_theme_black;
    padding-top: size(32);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include marginX(auto);


    .sharing {
      display: flex;

      a {
        display: block;
        @include square(size(48));

        &:not(:last-child) {
          margin-right: size(16);
        }

        svg {
          @include square(100%);
        }
      }

    }

  }

  .author-details {
    max-width: size($content-max-width);
    @include marginX(auto);
    margin-top: size(40, 80);

    .author-card {
      background: $threeSixty_theme_black;
      border-radius: 20px;
      padding: size(20);
      display: flex;
      align-items: center;

      &:not(:last-child) {
        margin-bottom: size(16);
      }

      @include min-medium-screen {
        padding: size(40) size(56);
      }

      .author-gravatar {
        width: 60px;
        height: 60px;
        margin-right: size(24);

        @include min-medium-screen {
          width: 80px;
          height: 80px;
        }

        img {
          border-radius: 50% !important;
          width: 100% !important;
          height: 100% !important;
          object-fit: contain !important;
        }
      }
    }

    .author-main {
      margin-bottom: size(32);
    }

    .author-name-position {
      display: flex;
      flex-direction: column;

      .author-name {
        font-weight: 700;
        font-size: size(16);
        line-height: 150%;
      }

      .author-position {
        font-weight: 260;
        font-size: size(16);
        line-height: 150%;
      }
    }

  }

  .related-posts {
    margin-top: size(80, 160);

    .related-title {
      margin-bottom: size(24);
      text-align: center;
      @include min-medium-screen {
        margin-bottom: size(34);
      }
    }
  }
}

.gform_not_found, .theme-cta-button .btn {
  display: none;
}


footer .contact-us-wrapper .form-btn .btn {
  display: none;
}
