@use "../common/variables" as *;
@use "../mixins/mixins" as *;

body.single-packages, body.single-services {


  .faq_block {
    position: relative;
  }

  .get_in_touch_block {
    padding-top: 0;

    &:after {
      display: none;
    }
  }

}

body.single-packages {

  .strategy_marketing_block .marketing-services-cards .marketing-services-card {
    .icon-wrapper {
      width: 34px;
      height: 34px;
    }
  }
}


body.single-services.rtl {
  .strategy_marketing_block {
    .icon-wrapper {
      transform: scaleX(-1);
    }
  }
}
