@use "../common/variables" as *;
@use "../mixins/mixins" as *;

body.single-packages , body.single-services {


  .faq_block {
    position: relative;
  }

  .get_in_touch_block {
    padding-top: 0;

    &:after {
      display: none;
    }
  }

}
