@use "../common/variables" as *;
@use "../mixins/mixins" as *;

body.single-packages {


  .faq_block {
    position: relative;


    &:after {
      position: absolute;
      content: "";
      height: 1px;
      background-color: $threeSixty_theme_gray-300;
      margin: 0 auto;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: calc(100% - 48px);

      @include large-screen {
        width: calc(100% - 224px);
      }
    }
  }

  .get_in_touch_block {
    padding-top: 0;

    &:after {
      display: none;
    }
  }

}
