@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.faq_block {
  padding-block: 120px;
  .accordion-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 500ms;
  }

  .accordion-content[aria-hidden="false"] {
    grid-template-rows: 1fr;
  }

  .accordion-content > div {
    overflow: hidden;
  }


  .accordion {
    @include min-medium-screen {
      max-width: size(768);
      @include marginX(auto);
    }
  }

  .accordion-panel {
    cursor: pointer;
    &:not(:last-child) {
      margin-bottom: size(32);
      border-bottom: 1px solid #E4E7EC;
      padding-bottom: 24px;
    }

    @include small-screen {
      &:not(:last-child) {
        margin-bottom: size(13);
      }
    }

    .title {
      position: relative;
    }

    .answer {
      max-width: size(400);
      @include min-medium-screen{
        max-width: 90%;
      }
      p {
        @include font(16px, 400, 24px, $threeSixty_theme_gray-500, inherit, normal);
      }
      .spacer {
        height: 8px;
      }
    }
  }


  .accordion-trigger {
    @include font-size(18px, 28px);
    color: #101828;
    max-width: 90%;
    text-align: left;
  }

  .accordion-trigger .toggle-open {
    @include square(size(16));
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    transition: transform $duration;

    @include min-medium-screen{
      @include square(size(24));
    }
  }


  .accordion-trigger[aria-expanded="true"] .toggle-open {
    transform: scaleY(-1);
  }

  .content {
    margin-bottom: 40px;
    @include min-medium-screen {
      text-align: center;
      margin-bottom: 80px;
    }
  .sub-title {
    color: $threeSixty_theme_brand-600;
  }
  .title {
    color: $threeSixty_theme_gray-950;
  }
  .description {
    p {
        color: $threeSixty_theme_gray-500;
    }
  }
  }
}
