@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.text_block {
  .content-wrapper {
    @include marginX(auto);
    padding-left: 30px;
    @include media-screen-768 {
      max-width: 456px;
    }
    @include min-medium-screen {
      max-width: 460px;
    }
    @include large-screen {
      padding-left: 0;
      max-width: 1000px;
    }
    .content {
      //border-bottom: 1px solid $threeSixty_theme_gray-300;
      @include paddingY(30px,50px);
      @include min-medium-screen {
        @include paddingY(50px);
      }
      position: relative;
      .title {
        margin-bottom: 20px;
        font-weight: 700;
        @include min-medium-screen {
          font-size: 28px;
        }
        @include large-screen {
          font-size: 30px;
        }
      }
    }
  }
}
