@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author HOSSAM

.client_brief_form_block {

  .form-wrapper {

    .quform-sub-label, .quform-label > label {
      color: #1F2A37;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }


    .quform-loading {
      display: none !important;
    }
  }

  .quform-edit-form {
    display: none;
  }

  .quform-page-progress-bar {
    background-color: $threeSixty_theme_black;
    color: $threeSixty_theme_white;
    font-family: inherit;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    display: none;
  }

  .quform-spacer {
    margin-bottom: 16px !important;
  }

  .form-wrapper textarea {
    height: 85px;
    padding: 10px 14px !important;
    resize: none;
  }

  .quform-element-submit {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    @include media-screen-768 {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  .quform-button-next, .quform-button-back , .quform-button-submit {
    width: 100%;
    @include media-screen-768{
      width: fit-content;
    }
  }

  .quform-button-back {
    @include media-screen-768 {
      margin-inline: 0 auto !important;
    }
  }

  .quform-button-next, .quform-button-submit {
    @include media-screen-768 {
      margin-inline: auto 0 !important;
    }
  }


  .quform-next, .quform-back, .quform-submit {
    @include theme-cta-style;

    span {
      position: relative;
      flex-shrink: 0;

      &:after {
        content: "";
        background: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2216%22%20height%3D%2220%22%20viewBox%3D%220%200%2016%2020%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22M10.67%2019.28H0L5.36%209.99L10.67%2019.28Z%22%20fill%3D%22%23D0D5DD%22/%3E%3Cpath%20d%3D%22M16%2010L10.67%200.72H0L5.36%209.99L10.67%2019.28L16%2010Z%22%20fill%3D%22%23F2F4F7%22/%3E%3C/svg%3E') no-repeat center;
        background-size: contain;
        position: absolute !important;
        width: 18.56px !important;
        height: 20px !important;
        top: 50% !important;
        transform: translateY(-50%);
        inset-inline-start: calc(100% + 15px);
        cursor: pointer !important;
        pointer-events: none !important;
        transition: transform $duration !important;

        body.rtl & {
          transform: scaleX(-1) translateY(-46%);
        }

      }
    }
  }

  .quform-back {
    span {
      &:after {
        body.rtl & {
          transform: scaleX(1) translateY(-46%);
          inset-inline-start: unset;
          inset-inline-end: calc(100% + 15px);
        }
      }
    }
  }
}


