@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.overview_block {
  @include paddingY(65px);
  @include min-medium-screen {
    @include paddingY(128px, 109px)
  }

  .overview-content {
    .sub-title {
      letter-spacing: normal;
    }

    .overview-title {
      color: $threeSixty_theme_gray-950;
    }

    .overview-description {
      max-width: 703px;
      @include marginX(auto);

      @include min-medium-screen {
        max-width: 1080px;
      }
      @include large-screen {
        max-width: 883px;
      }
    }
  }
}
