@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author HOSSAM
.page_not_found {
  padding-block: 80px;
  @include min-medium-screen {
    padding-block: 150px;
  }
  .content-wrapper {
    margin-top: 50px;
    align-items: center;
  }
}
