@use "../../styles/common/variables" as *;
@use "../../styles/mixins/mixins" as *;

// @author DELL
.blog_hero_block {
  background-color: $threeSixty_theme_black;
  min-height: 400px;
  @include paddingY(40px);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 2;
  @include min-medium-screen {
    min-height: 518px;
    @include paddingY(142px, 144px);
  }

  .container {
    width: 100%;
    max-width: 1440px;
    @include paddingX(24px);
    @include min-medium-screen {
      @include paddingX(112px);
    }
  }

  .content-wrapper {
    gap: 10px;
    max-width: 500px;
    @include small-screen {
      text-align: center;
    }
    @include min-medium-screen {
      max-width: 630px;
    }

  }
}
